<section id="resources">
  <div class="container-fluid">
    <div class="row justify-content-center text-center">
      <div class="col-lg-7">
        <img class="subhead-image" src="/assets/img/icons/zenresources.png">
        <h2 class="subhead">These resources will help you better understand the Zen brand and how to properly represent it.</h2>
      </div>
    </div>
    <div class="row justify-content-center text-center mt-5">
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h3>Graphics</h3>
            <p>
              <a href="#" class="btn btn-lg btn-primary"><img src="/assets/img/icons/download-arrow.png" class="download-arrow" /> Download</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h3>Legal</h3>
            <p>
              <a href="/assets/files/legal.zip" class="btn btn-lg btn-primary"><img src="/assets/img/icons/download-arrow.png" class="download-arrow" /> Download</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h3>Block Explorers</h3>
            <div class="inline-buttons">
              <a href="https://explorer.zensystem.io/" class="btn btn-primary" target="_blank">1</a>
              <a href="http://explorer.zenmine.pro/insight/" class="btn btn-primary" target="_blank">2</a>
              <a href="https://explorer.zen-solutions.io/" class="btn btn-primary" target="_blank">3</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
