<section id="resources">
  <div class="container-fluid">
    <div class="row justify-content-center text-center">
      <div class="col-lg-7">
        <img class="subhead-image" src="/assets/img/icons/zenresources.png">
        <h2 class="subhead">{% translate homepage.resources.subtitle %}</h2>
      </div>
    </div>
    <div class="row justify-content-center text-center mt-5">
      {% for item in site.translations[site.lang].homepage.resources.items %}
      <div class="col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <h3>{{ item.title }}</h3>
            {% if item.buttons.size > 1 %}
            <div class="inline-buttons">
              {% for button in item.buttons %}
              <a href="{{ button.link }}" class="btn btn-primary">{{ button.text }}</a>
              {% endfor %}
            </div>
            {% else %}
            <p>
              {% for button in item.buttons %}
              <a href="{{ button.link }}" class="btn btn-lg btn-primary">{{ button.text }}</a>
              {% endfor %}
            </p>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
