<section id="roadmap">
  <div class="container-fluid wow fadeIn">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col">
        <img src="/assets/img/zencash-stacked.jpg" class="img-fluid zencash-logo" />
        <h2 class="lined-subtext">{% translate global.roadmap %}</h2>
      </div>
    </div>
    
    <div class="row justify-content-center align-items-center text-center" data-aos="fade-up">
      <div class="col">
        <div class="year-title">
          <div class="vertical-line"></div>
          <span>2017</span>
          <div class="vertical-line"></div>
        </div>
      </div>
    </div>

    {% for item in site.translations[site.lang].homepage.roadmap.events[2017] %}
      <div class="timeline-entry {% cycle 'odd', 'even' %}" data-aos="{% cycle 'fade-right', 'fade-left' %}">
        <div class="entry-icon">
          <div class="horizontal-line"></div>
          <div class="icon-container"><img src="{{ item.icon }}" class="img-fluid" /></div>
        </div>
        <div class="entry-text">
          <h3>{{ item.title }}</h3>
          <ul>
            {% for listItem in item.content %}
              <li>{{ listItem }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}

    <div class="row justify-content-center align-items-center text-center" data-aos="fade-up">
      <div class="col">
        <div class="year-title">
          <div class="vertical-line"></div>
          <span>2018</span>
          <div class="vertical-line"></div>
        </div>
      </div>
    </div>

    {% for item in site.translations[site.lang].homepage.roadmap.events[2018] %}
      <div class="timeline-entry {% cycle 'odd', 'even' %}" data-aos="{% cycle 'fade-right', 'fade-left' %}">
        <div class="entry-icon">
          <div class="horizontal-line"></div>
          <div class="icon-container"><img src="{{ item.icon }}" class="img-fluid" /></div>
        </div>
        <div class="entry-text">
          <h3>{{ item.title }}</h3>
          <ul>
            {% for listItem in item.content %}
              <li>{{ listItem }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}

    <div class="row justify-content-center align-items-center text-center" data-aos="fade-up">
      <div class="col">
        <div class="year-title">
          <div class="vertical-line"></div>
          <span>2019</span>
          <div class="vertical-line"></div>
        </div>
      </div>
    </div>

    {% for item in site.translations[site.lang].homepage.roadmap.events[2019] %}
      <div class="timeline-entry {% cycle 'even', 'odd' %}" data-aos="{% cycle 'fade-right', 'fade-left' %}">
        <div class="entry-icon">
          <div class="horizontal-line"></div>
          <div class="icon-container"><img src="{{ item.icon }}" class="img-fluid" /></div>
        </div>
        <div class="entry-text">
          <h3>{{ item.title }}</h3>
          <ul>
            {% for listItem in item.content %}
              <li>{{ listItem }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}

  </div>
</section>
