<section id="team-overview">

  <div class="global-team">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>{% translate homepage.team.title %}</h2>
          <p class="subhead-large mb-4">{% translate homepage.team.subtitle %}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="/assets/img/global-team-map.jpg" class="img-fluid team-map" />
        </div>
      </div>
      <div class="row justify-content-center">
        <p>
          <a href="{{site.baseurl}}{% translate homepage.team.button.link %}" class="btn btn-lg btn-inverse">{% translate homepage.team.button.text %}</a>
        </p>
      </div>
    </div>
  </div>

</section>
