<section id="tech">
  <div class="container-fluid">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-lg-7 tech-header">
        <h2 class="section-title mb-2">{% translate homepage.tech.title %}</h2>
        <p class="subhead-large mb-2">{% translate homepage.tech.subtitle %}</p>
      </div>
    </div>
    <div class="row">

      {% for item in site.translations[site.lang].homepage.tech.features %}
        <div class="col-lg-6 mt-3 mb-5" data-aos="fade-right">
          <h3>{{ item.title }}</h3>
          <ul>
            {% for listItem in item.content %}
              <li>{{ listItem }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}

    </div>
  </div>

  <div class="container-fluid full-width">

    <div class="row justify-content-center technology-cards mt-5">

      <div class="col-md-10">
        <div class="row justify-content-center">

          {% for card in site.translations[site.lang].homepage.tech.techcards %}
          <div class="col-sm-5" data-aos="fade-down">
            <h3>{{ card.title }}</h3>
            <div class="content">
              <p>
                {{ card.content }}
              </p>
            </div>
            <p>
              <a href="{{site.baseurl}}{{ card.cta.link }}" class="btn btn-lg btn-inverse">{{ card.cta.text }}</a>
            </p>
          </div>
          {% endfor %}

        </div>
      </div>

    </div>

    <div class="stats-section">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="circle-dots">
            <h2>{% translate homepage.tech.stats.title %}</h2>
            <img src="/assets/img/circle-dots.png" id="circle-dots-img">
          </div>
        </div>
      </div>
      <div class="row justify-content-center stats">
        {% for stat in site.translations[site.lang].homepage.tech.stats.sections %}
        <div class="col" id="{{ stat.id }}">
          <h3 class="stats-headline">{{ stat.title }}</h3>
          <div class="stats-data">{{ stat.content }}</div>
        </div>
        {% endfor %}
        {% comment %}
        <div class="col" id="currentPrice">
          <h3 class="stats-headline">Current Price</h3>
          <div class="stats-data">
            <span class="price-usd">$37.64 USD</span>
            <span class="subtext">0.00430619 BTC</span>
          </div>
        </div>
        {% endcomment %}
        {% comment %}
        <div class="col" id="hashPower">
          <h3 class="stats-headline">Hash Power</h3>
          <div class="stats-data">44.45<span class="subtext">MSol/s</span></div>
        </div>
        {% endcomment %}
      </div>

    </div>

  </div>
</section>
