<section id="use-zen">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-lg-6">
        <h2 class="section-title mb-2">{% translate homepage.usezen.title %}</h2>
        <p class="subhead-large mb-2">{% translate homepage.usezen.subtitle %}</p>
      </div>
    </div>
    <div class="row justify-content-center align-items-center text-center use-zen-link-row">

      {% for feature in site.translations[site.lang].homepage.usezen.features %}
      <div class="col use-zen-link">
        <a href="{{site.baseurl}}{{ feature.link }}" class="use-zen-link-block wobble">
          <img src="{{ feature.image }}" class="icon">
          <h4>{{ feature.title }}</h4>
        </a>
      </div>
      {% endfor %}

    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-lg-6">
        <h2 class="lined-subtext green">{% translate homepage.usezen.merchants.title %}</h2>
        <p class="subhead-large mb-2 mt-5">{% translate homepage.usezen.merchants.subtitle %}</p>
      </div>
    </div>
    <div class="row justify-content-center feature-row">
      <div class="col-md-6 col-lg-4">
        {% translate_file homepage/merchants-1.md %}
      </div>
      <div class="col-md-6 col-lg-4">
        {% translate_file homepage/merchants-2.md %}
      </div>
    </div>
  </div>
</section>
