<section id="white-paper">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img src="/assets/img/icons/whitepaper.png" class="feature-icon">
        <p class="lead">
          {% translate homepage.whitepaper.subtitle %}
        </p>
        <p>
          {% if site.data.assets.whitepaper[site.lang] %}
          <a href="{{site.baseurl_root}}{{site.data.assets.whitepaper[site.lang]}}" class="btn btn-lg btn-primary mt-4 ml-2 mr-2"><img src="/assets/img/icons/download-arrow.png" class="download-arrow" /> {% translate homepage.whitepaper.button %}</a>
          {% else %}
          <a href="{{site.baseurl_root}}{{site.data.assets.whitepaper.en}}" class="btn btn-lg btn-primary mt-4 ml-2 mr-2"><img src="/assets/img/icons/download-arrow.png" class="download-arrow" /> {% translate homepage.whitepaper.button %}</a>
          {% endif %}

          {% if site.data.assets.whitepaper2[site.lang] %}
          <a href="{{site.baseurl_root}}{{site.data.assets.whitepaper2[site.lang]}}" class="btn btn-lg btn-primary mt-4 ml-2 mr-2"><img src="/assets/img/icons/download-arrow.png" class="download-arrow" /> {% t global.whitepaper.new %}</a>
          {% else %}
          <a href="{{site.baseurl_root}}{{site.data.assets.whitepaper2.en}}" class="btn btn-lg btn-primary mt-4 ml-2 mr-2"><img src="/assets/img/icons/download-arrow.png" class="download-arrow" /> {% t global.whitepaper.new %}</a>
          {% endif %}
        </p>
      </div>
    </div>
  </div>
</section>
