<section id="white-paper">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img src="/assets/img/icons/whitepaper.png" class="feature-icon">
        <p class="lead">
          {% translate homepage.whitepaper.subtitle %}
        </p>
        <p>
          <a href="{{site.baseurl_root}}{{site.data.whitepapers[site.lang]}}" class="btn btn-lg btn-primary mt-4 ml-2 mr-2"><img src="/assets/img/icons/download-arrow.png" class="download-arrow" /> {% translate homepage.whitepaper.button %}</a>
          {% if site.lang == 'zh' %}
          <a href="/assets/files/Zen-Application-Platform-Whitepaper-Chinese.pdf" class="btn btn-lg btn-primary mt-4 ml-2 mr-2"><img src="/assets/img/icons/download-arrow.png" class="download-arrow" /> New Zen White Paper</a>
          {% else %}
          <a href="/assets/files/Zen-Application-Platform-Whitepaper.pdf" class="btn btn-lg btn-primary mt-4 ml-2 mr-2"><img src="/assets/img/icons/download-arrow.png" class="download-arrow" /> New Zen White Paper</a>
          {% endif %}
        </p>
      </div>
    </div>
  </div>
</section>
