---
layout: homepage
type: homepage
title: titles.exchanges
description: descriptions.exchanges

namespace: exchanges
permalink: /exchanges/
---

<section class="content" id="use-zen">

  <div class="container-fluid">

    <div class="row interior-subheader">
      <div class="col">
        <h1>{% t global.exchanges %}</h1>
      </div>
    </div>

    {% include content/exchanges.html %}

    <div class="row justify-content-center text-center mt-5">
      <div class="col mt-5">
        <a href="{% tl wallets {{ site.lang }} %}" class="btn btn-lg btn-primary">{% t homepage.hero.wallet-button %}</a>
      </div>
    </div>

  </div>
</section>

{% include content/about-zen-fw.html %}
