---
layout: homepage
---

<div class="jumbotron">
  <div id="bgvid"></div>
  {% comment %}
  <video poster="/assets/img/space-placeholder.jpg" id="bgvid" playsinline autoplay muted loop>
    <source src="/assets/vid/space.webm" type="video/webm">
    <source src="/assets/vid/space.mp4" type="video/mp4">
  </video>
  {% endcomment %}
  <div class="color-overlay"></div>
  <div class="block-overlay"></div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
         <h1>The world's <i>first</i> <strong>private, distributed, and reliable</strong> platform for communications, transactions, and publishing.</h1>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-md-8 text-center">
        <p class="lead mt-5">
          <i>Sign up below, then check your email to receive exclusive updates</i>
        </p>

        <p id="email-success" style="display: none;">
          Success! Please check your email to confirm we have the right one.
        </p>

        <form id="email-form" name="mc-embedded-subscribe-form" class="form-inline justify-content-center mb-4" action="//zencash.us15.list-manage.com/subscribe/post?u=a2e6f8a8a8a21683874d560ea&id=d60b1a11f5" method="get" novalidate>
          <div class="form-group">
            <input type="email" value="" name="EMAIL" class="required email form-control form-control-lg" id="mce-EMAIL" placeholder="Enter your email">
            <div class="form-control-feedback"></div>
          </div>
          <div class="submit_container clear">
            <input type="submit" value="Get Exclusive Updates" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-primary">
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_a2e6f8a8a8a21683874d560ea_d60b1a11f5" tabindex="-1" value="">
          </div>
        </form>

        <div id="quickLinks">

          <a class="btn btn-secondary" data-toggle="reveal" href="#buyZenCollapse">Buy ZenCash</a>
          <a class="btn btn-secondary" data-toggle="reveal" href="#mineZenCollapse">Mine ZenCash</a>
          <a class="btn btn-secondary" data-toggle="reveal" href="#downloadWallet">Download GUI Wallet</a>

          <div class="card">
            <div id="buyZenCollapse" class="reveal">
              <div class="card-block">
                {% include content/buy-zen.html %}
              </div>
            </div>
            <div id="mineZenCollapse" class="reveal">
              <div class="card-block">
                {% include content/mine-zen.html %}
              </div>
            </div>
            <div id="downloadWallet" class="reveal">
              <div class="card-block">
                {% include content/wallets.html %}
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

{% include about.html %}

<div class="feature-band content-block">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h3>Commerce and Communications for All</h3>
        <p>Zen is leveraging a global community to build a private and secure platform for instantaneous communications and transactions.</p>
      </div>
      <div class="col-4 col-md-2 text-center">
        <i class="fa fa-folder-open" aria-hidden="true"></i>
        Permanent
      </div>
      <div class="col-4 col-md-2 text-center">
        <i class="fa fa-globe" aria-hidden="true"></i>
        Globally Distributed
      </div>
      <div class="col-4 col-md-2 text-center">
        <i class="fa fa-eye-slash" aria-hidden="true"></i>
        Private
      </div>
    </div>
  </div>
</div>

<div id="technology" class="content-block">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h3>Designed for the World, and for the Future</h3>
        <h5>Focusing on users and usability, ZenCash features:</h5>
        <p><strong>International documentation and wallets in many languages<br />
          Global governance with inclusive decision making<br />
          Reliable funding for continuous improvement</strong>
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <h4>Secure Nodes Provide International Resilience</h4>
        <p>Zen is leveraging a global community to build a private and secure platform for instantaneous communications and transactions.</p>
        <p>Zen Secure Nodes form the foundation of a distributed and resilient network for accessibility and usability anywhere in the world.</p>
        <p>Secure Nodes will enable fully encrypted communications and network obfuscation so end-user activity is protected.</p>
      </div>
      <div class="col-md-4">
        <h4>Funding for Continuous Operations and Development</h4>
        <p>The ZenCash Treasury fund is generated by 8.5% of each block mining reward and is used for operations, development, and getting out the message of Zen to the World.</p>
        <p>Treasury funds are held in trust and allocated by the Zen Blockchain Foundation, a non-profit entity entrusted with growing and maintaining the Zen ecosystem.</p>
        <p>Zen Secure Node operations is encouraged and funded by a 3.5% redirection of block mining reward.</p>
      </div>
      <div class="col-md-4">
        <h4>Promoting the Value of Individual Privacy Worldwide</h4>
        <p>Our platform will be managed through an inclusive, global distribution of decision-making authority and collaborative effort.</p>
        <p>We live in an information-based society where individuals outsource management of their most private data, unaware that their data HAS VALUE and that its security IS IMPORTANT.</p>
        <p>We’re working to build infrastructure that users can use trust to secure and store their wealth, identification data, communications, and transactions.</p>
      </div>
    </div>
  </div>
</div>

<div class="feature-orange content-block">
  <div class="container-fluid">
    {% comment %}
    <div class="row align-items-center justify-content-center mb-5">
      <div class="col-md-12 col-lg-8 col-xl-6 text-center">
        <h3>Built-in Support for Large Datastores</h3>
        <p class="lead mt-4">Zen integrates zero-knowledge communications with <strong>external persistent datastores</strong> for infinite possibilities. To put it simply, Zen is an irrevocable publishing platform.</p>
        <p class="lead"><strong>Nothing can be lost, erased, denied, or censored.</strong></p>
      </div>
    </div>
    {% endcomment %}
    <div class="row align-items-center justify-content-center">
      <div class="col-md-4">
        <h4>Communicate Any Type or Size of Information</h4>
        <p>Zen private messaging integrates with IPFS (<a href="https://ipfs.io/">https://ipfs.io/</a>) for distributed publishing and information access.</p>
        <p>IPFS is the Distributed Web. A peer-to-peer hypermedia protocol to make the web faster, safer, and more open.</p>
        <p>Any type of information in multiple formats can be published to IPFS, then linked to and messaged by Zen private and secure communications.</p>
      </div>
      <div class="col-md-2">
        <img class="img-fluid b-lazy" src="/assets/img/ipfs.png" data-src="/assets/img/ipfs.png" />
      </div>
      <div class="col-md-4">
        <h4>Integrating with IPFS Helps Build the Internet’s Next Web</h4>
        <p>IPFS remains true to the original vision of the open and flat web, and delivers the technology which makes that vision a reality.</p>
        <p>IPFS powers the creation of diversely resilient networks which enable persistent availability with or without Internet backbone connectivity.</p>
        <p>IPFS provides historic versioning (like git) and makes it simple to set up resilient networks for mirroring of data.</p>
      </div>
    </div>
  </div>
</div>

{% comment %}
{% include team.html %}
{% endcomment %}

<div id="latest-news" class="content-block">
  <div class="container-fluid">
    <div class="row align-items-center mb-3">
      <div class="col-sm-12">
        <h3 class="text-center">Latest News</h3>
      </div>
    </div>
    <div id="blogPosts" class="row align-items-center">
      <!--Generated list items will go here-->
    </div>
    <div class="row align-items-center mt-2">
      <div class="col-sm-12 text-center">
        <a href="{{site.links.blog}}">View all blog posts >></a>
      </div>
    </div>
  </div>
</div>

<div id="faqs" class="content-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center">Zen Info</h3>
      </div>

      {% include accordion.html %}

    </div>
  </div>
</div>

<div id="links" class="content-block">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <div class="row align-items-center justify-content-center">
          <!-- <div class="col-md-12">
            <h3 class="text-center">Links</h3>
          </div> -->
          <div class="col-md-3">
            <img id="octocat" class="img-fluid b-lazy pr-5" src="/assets/img/Octocat.png" data-src="/assets/img/Octocat.png" />
          </div>
          <div class="col-md-5">
            <h5>ZenCashOfficial Github Page</h5>
            <p>
              The ZenCashOfficial Github page holds all development efforts for the wallet and other applications.
            </p>
            <a href="{{site.links.github}}" class="btn btn-primary">Go to GitHub <i class="fa fa-github" aria-hidden="true"></i></a>
          </div>
          {% comment %}
          <div class="col-md">
            <h5>Zclassic Github Page</h5>
            <p>
              The Zclassic Github page contains the code for Zclassic and the first open-source Equihash mining pool Z-Nomp.
            </p>
            <a href="https://github.com/z-classic" class="btn btn-primary">Go to GitHub <i class="fa fa-github" aria-hidden="true"></i></a>
          </div>
          {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</div>
