---
layout: homepage
type: homepage
title: Research
description:

namespace: research
permalink: /research/
---

<section class="interior-header short">
  <div class="page-title text-center">
    <h1>{{page.title}}</h1>
  </div>
</section>

<section class="content intro">
  <div class="intro-circle-div">
    <img src="/assets/img/icons/r-d-2.png" class="use-zen-feature-icons">
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-7 col-lg-6">
        <h2>{% t research.subtitle %}</h2>
        <p>{% t research.intro %}</p>
      </div>
    </div>

    <div class="row justify-content-center text-center mt-4">
      <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
        <div class="card">
          <div class="card-body">
            <h3>ZenCash White Paper</h3>
            <p>
              {% if site.data.assets.whitepaper[site.lang] %}
              <a href="{{site.baseurl_root}}{{site.data.assets.whitepaper[site.lang]}}" class="btn btn-lg btn-primary">
                <img src="/assets/img/icons/download-arrow.png" class="download-arrow"> {% t research.download %}
              </a>
              {% else %}
              <a href="{{site.baseurl_root}}{{site.data.assets.whitepaper.en}}" class="btn btn-lg btn-primary">
                <img src="/assets/img/icons/download-arrow.png" class="download-arrow"> {% t research.download %}
              </a>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
        <div class="card">
          <div class="card-body">
            <h3>ZenCash Introduces Super Nodes</h3>
            <p>
              {% if site.data.assets.whitepaper2[site.lang] %}
              <a href="{{site.baseurl_root}}{{site.data.assets.whitepaper2[site.lang]}}" class="btn btn-lg btn-primary">
                <img src="/assets/img/icons/download-arrow.png" class="download-arrow"> {% t research.download %}
              </a>
              {% else %}
              <a href="{{site.baseurl_root}}{{site.data.assets.whitepaper2.en}}" class="btn btn-lg btn-primary">
                <img src="/assets/img/icons/download-arrow.png" class="download-arrow"> {% t research.download %}
              </a>
              {% endif %}
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
        <div class="card">
          <div class="card-body">
            <h3>Poposal to Modify Satoshi Consensus to Enhance Protection Against 51% Attacks</h3>
            <p>
              {% if site.data.assets.whitepaper3[site.lang] %}
              <a href="{{site.baseurl_root}}{{site.data.assets.whitepaper3[site.lang]}}" class="btn btn-lg btn-primary">
                <img src="/assets/img/icons/download-arrow.png" class="download-arrow"> {% t research.download %}
              </a>
              {% else %}
              <a href="{{site.baseurl_root}}{{site.data.assets.whitepaper3.en}}" class="btn btn-lg btn-primary">
                <img src="/assets/img/icons/download-arrow.png" class="download-arrow"> {% t research.download %}
              </a>
              {% endif %}
            </p>
          </div>
        </div>
      </div>

    </div>

    <div class="row justify-content-center align-items-center mt-3">
      <div class="col-md-7 col-lg-6">
        <h2>Partnership with Input Output Hong Kong (IOHK) and InfoPulse:</h2>
        <p>ZenCash also partners with IOHK and InfoPulse to bring some of our research and development projects. We’re working with IOHK and Infopulse to launch a protocol-level treasury system containing a public ledger where Zen holders can vote to decide what proposals advance.</p>
      </div>
    </div>

  </div>
</section>
