<div id="about" class="featured-content content-block">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-4 push-md-4 text-center">
        <img id="zenBlock" class="b-lazy" src="/assets/img/zen-block.png" data-src="/assets/img/zen-block.png" />
      </div>

      <div class="col-md-4 pull-md-4">
        <h3>Private and Reliable Transactions, Communications, and Publishing</h3>
      </div>

      <div class="col-md-4">
        <p class="lead text-md-right">
          Zen is leveraging the best minds in technology, governance, and community building to create the world’s <i>first</i> <strong>private, distributed, and reliable</strong> platform for communications, transactions, and publishing.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4>Private Transactions</h4>
        <p>ZenCash has the ability to use transparent and shielded transactions for blockchain based commerce.</p>
        <p>Transparent from the Bitcoin blockchain heritage.</p>
        <p>Shielded transactions using zk-SNARKS from Zcash.</p>
      </div>
      <div class="col-md-4">
        <h4>Private Communications</h4>
        <p>Private communications on the ZenCash blockchain ensures no metadata leakage regarding transaction specifics.</p>
        <p>Distributed and Secure Nodes relay communications in a non-trackable way.</p>
        <p>Secure and private communications with custom client application fully utilize the secure memo capabilities of shielded transactions.</p>
     </div>
      <div class="col-md-4">
        <h4>Secure and Anonymous Publishing</h4>
        <p>End-user applications provide one-to-many private communications on blockchain.</p>
        <p>Secure messaging provides for publishing on the InterPlanetary File System.</p>
        <p>Distributed publishing and distributed messaging enables worldwide anonymous communications.</p>
      </div>
    </div>
  </div> <!-- /container -->
</div>
