<div id="accordion" role="tablist" aria-multiselectable="true">

  <div class="card">
    <div class="card-header" role="tab" id="heading1">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
          Zen and ZenCash Resources
        </a>
      </h5>
    </div>
    <div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="heading1">
      <div class="card-block">
        <a href="{{site.links.blog}}">ZenCash Blog</a><br />
        <a href="{{site.links.bitcointalk}}">ZenCash on Bitcointalk</a><br />
        <a href="{{site.links.youtube}}">ZenCash YouTube Channel</a><br />
        <a href="{{site.links.reddit}}">ZenCash Reddit</a><br />
        <a href="{{site.links.facebook}}">ZenCash Facebook Page</a><br />
        <a href="{{site.links.medium}}">ZenCash Blog on Medium</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading2">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
          Wallets for Private Transactions and Communications
        </a>
      </h5>
    </div>
    <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2">
      <div class="card-block">
        {% include content/wallets.html %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading3">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
          Where to Buy ZenCash
        </a>
      </h5>
    </div>
    <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3">
      <div class="card-block">
        {% include content/buy-zen.html %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading4">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
          Get Engaged with ZenCash Community
        </a>
      </h5>
    </div>
    <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4">
      <div class="card-block">
        <a href="{{site.links.discord}}">ZenCash Discord Invite</a><br />
        <a href="{{site.links.forum}}">ZenCash Forum</a><br />
        <a href="{{site.links.telegram}}">ZenCash Telegram</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading5">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
          Mine for Zen and Support the Network
        </a>
      </h5>
    </div>
    <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5">
      <div class="card-block text-center">
        {% include content/mine-zen.html %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading6">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
          ZenCash Block Explorers
        </a>
      </h5>
    </div>
    <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading6">
      <div class="card-block">
        <a href="https://explorer.zensystem.io/">https://explorer.zensystem.io/</a><br />
        <a href="http://node1.zenchain.info:8886/">http://node1.zenchain.info:8886/</a><br />
        <a href="http://explorer.zenmine.pro/insight/">http://explorer.zenmine.pro/insight/</a>
        <a href="https://explorer.zen-solutions.io/">https://explorer.zen-solutions.io/</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading7">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
          Secure Node Information
        </a>
      </h5>
    </div>
    <div id="collapse7" class="collapse" role="tabpanel" aria-labelledby="heading7">
      <div class="card-block">
        <p>Secure Nodes are in development. They are a high priority, and are important to the security and usability of the Zen network. Find out more about secure nodes:</p>
        <p><a href="https://blog.zensystem.io/zencash-secure-node-system-overview-video/">Secure Node Overview Explanation and Video</a><br />
        <a href="https://forum.zensystem.io/t/secure-node-tracking-and-payment-system-software-development-project-discussion/126">Secure Node Design Discussion</a><br />
        <a href="https://blockoperations.com/build-zencash-secure-node-part-1-prepare-vps/">Example of Building Most of Secure Node</a></p>
      </div>
    </div>
  </div>

</div>
