<footer class="site-footer">
  <div class="container-fluid">
    <div class="row align-items-center">

      <div class="col-md-12 text-center">
        <div class="social-media-list">
          <a href="{{site.links.twitter}}" class="social-icon"><img src="/assets/img/icons/Twitter-Icon.png"></a>
          <a href="{{site.links.discord}}" class="social-icon"><img src="/assets/img/icons/Discord-Logo.png"></a>
          <a href="{{site.links.reddit}}" class="social-icon"><img src="/assets/img/icons/Reddit-Icon.png"></a>
          <a href="{{site.links.bitcointalk}}" class="social-icon"><img src="/assets/img/icons/Bitcoin-Icon.png"></a>
        </div>
      </div>

      <div class="col-md-12 text-center">
        <small>&copy; {{ 'now' | date: "%Y" }} ZenCash. All rights reserved.</small>
      </div>

    </div>
  </div>
</footer>
