<header class="site-header">

  <div id="home-header" class="row justify-content-center" style="display: none;">
    <button id="home-header-close" class="btn">
      <div class="x"></div>
      <div class="x x2"></div>
    </button>
    <div class="col-sm-12 text-center flex-column justify-content-center">
      <p class="lead">
        {% translate newsletter.title %}
      </p>

      <p id="email-success" style="display: none;">
        {% translate newsletter.success %}
      </p>

      <form id="email-form" name="mc-embedded-subscribe-form" class="form-inline justify-content-center mb-4" action="//zencash.us15.list-manage.com/subscribe/post?u=a2e6f8a8a8a21683874d560ea&id=d60b1a11f5" method="post" novalidate>
        <div class="form-group">
          <input type="text" value="" name="FNAME" class="form-control form-control-lg" id="mce-FNAME" placeholder="{% translate newsletter.name %}">
        </div>
        <div class="form-group">
          <input type="email" value="" name="EMAIL" class="required email form-control form-control-lg" id="mce-EMAIL" placeholder="{% translate newsletter.email %}">
        </div>
        <div class="form-group">
          <select name="MMERGE3" class="custom-select custom-select-lg" id="mce-MMERGE3">
            <option selected value="">{% translate newsletter.country %}</option>
            {% for country in site.data.countryNames %}
            <option value="{{country[1]}}">
              {{country[1]}}
            </option>
            {% endfor %}
          </select>

        </div>
        <div class="submit_container clear">
          <input type="submit" value="Subscribe" name="{% translate newsletter.button %}" id="mc-embedded-subscribe" class="btn btn-primary">
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_a2e6f8a8a8a21683874d560ea_d60b1a11f5" tabindex="-1" value="">
        </div>
        <div class="form-control-feedback"></div>
      </form>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg">
    <button class="hamburger hamburger--squeeze navbar-toggler hidden-lg-up" type="button"data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    <a class="navbar-brand" href="{{site.baseurl}}/"><img class="b-lazy" src="/assets/img/zencash-logo.png" data-src="/assets/img/zencash-logo.png" /></a>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ml-auto">

        {% if page.url == '/' %}
        {% assign link_base = '' %}
        {% else %}
        {% capture link_base %}{{site.baseurl}}/{% endcapture %}
        {% endif %}

        <li class="nav-item dropdown" id="about-dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="about" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% translate nav.top.about %}</a>
          <div class="dropdown-menu" aria-labelledby="about">
            <a class="dropdown-item" href="{{link_base}}#features">{% translate nav.top.features %}</a>
            <a class="dropdown-item" href="{{link_base}}#roadmap">{% translate nav.top.roadmap %}</a>
            <a class="dropdown-item" href="{{link_base}}#team-overview">{% translate nav.top.team %}</a>
            <a class="dropdown-item" href="{{link_base}}#white-paper">{% translate nav.top.whitepaper %}</a>
            {% comment %}<a class="dropdown-item" href="#">FAQs</a>{% endcomment %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/exchanges/">{% translate nav.top.exchanges %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/wallets/">{% translate nav.top.wallets %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/mining-pools/">{% translate nav.top.miningpools %}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="community" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% translate nav.top.community %}</a>
          <div class="dropdown-menu" aria-labelledby="community">
            <a class="dropdown-item" href="{{site.links.twitter}}" target="_blank">Twitter</a>
            <a class="dropdown-item" href="{{site.links.discord}}" target="_blank">Discord</a>
            <a class="dropdown-item" href="{{site.links.telegram}}" target="_blank">Telegram</a>
            <a class="dropdown-item" href="{{site.links.reddit}}" target="_blank">Reddit</a>
            <a class="dropdown-item" href="{{site.links.bitcointalk}}" target="_blank">Bitcointalk</a>
            <a class="dropdown-item" href="{{site.links.blog}}" target="_blank">{% translate nav.top.blog %}</a>
            <a class="dropdown-item" href="{{site.links.forum}}" target="_blank">Forum</a>
            <a class="dropdown-item" href="{{site.links.github}}" target="_blank">GitHub</a>
          </div>
        </li>
        {% comment %}
        <li class="nav-item">
          <a class="nav-link" href="#">resources</a>
        </li>
        {% endcomment %}
        <li class="nav-item">
          <a class="nav-link" href="http://support.zencash.com/">{% translate nav.top.support %}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{link_base}}#blog">{% translate nav.top.blog %}</a>
        </li>

        {% comment %}Retreive current language name from languages data file{% endcomment %}
        <li class="nav-item">
          <a class="nav-link toggle-languages" href="#" id="chooseLanguage">{{ site.data.languages[site.lang] }}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="language-sidebar">
  <a href="#" id="languageClose" class="toggle-languages">
    <div class="x"></div>
    <div class="x x2"></div>
  </a>
  <ul>
    {% for language in site.data.languages %}
    <li>
      {% if language[0] == "en" %}
      <a href="{{ site.baseurl_root }}{{ page.url}}">{{ language[1] }}</a>
      {% elsif language[0] == "ko" %}
      {% comment %}Hiding Korean version until updated translation is complete{% endcomment %}
      {% else %}
        {% if site.lang == language[0] %}
        <a href="{{ site.baseurl }}{{ page.url}}">{{ language[1] }}</a>
        {% else %}
        <a href="/{{ language[0] }}{{ page.url }}">{{ language[1] }}</a>
        {% endif %}
      {% endif %}
    </li>
    {% endfor %}
    <li>
      <a href="https://ru.zensystem.io/">русский</a>
    </li>
  </ul>
</div>
