<header>
  <nav class="navbar navbar-toggleable-md fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="assets/img/zen-inverse.png" /></a>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Technology</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="getInvolved" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Get Involved</a>
          <div class="dropdown-menu" aria-labelledby="getInvolved">
            <a class="dropdown-item" href="#">Blog</a>
            <a class="dropdown-item" href="#">Wiki</a>
            <a class="dropdown-item" href="#">Developers</a>
            <a class="dropdown-item" href="#">...</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
