<header class="site-header">
  <nav class="navbar navbar-toggleable-md">
    <button class="hamburger hamburger--squeeze navbar-toggler hidden-lg-up" type="button"data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    <a class="navbar-brand" href="/"><img class="b-lazy" src="/assets/img/zencash-logo.png" data-src="/assets/img/zencash-logo.png" /></a>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="about" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">about</a>
          <div class="dropdown-menu" aria-labelledby="about">
            <a class="dropdown-item" href="#">Features</a>
            <a class="dropdown-item" href="#">Roadmap</a>
            <a class="dropdown-item" href="#">Team</a>
            <a class="dropdown-item" href="#">White Paper</a>
            <a class="dropdown-item" href="#">FAQs</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">get zencash</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">use zen</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="community" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">community</a>
          <div class="dropdown-menu" aria-labelledby="community">
            <a class="dropdown-item" href="{{site.links.twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
            <a class="dropdown-item" href="{{site.links.telegram}}"><i class="fa fa-telegram" aria-hidden="true"></i> Telegram</a>
            <a class="dropdown-item" href="{{site.links.discord}}"><i class="fa fa-commenting" aria-hidden="true"></i> Discord</a>
            <a class="dropdown-item" href="{{site.links.bitcointalk}}"><i class="fa fa-btc" aria-hidden="true"></i>
 Bitcointalk</a>
            <a class="dropdown-item" href="{{site.links.blog}}"><i class="fa fa-wordpress" aria-hidden="true"></i>
 Blog</a>
            <a class="dropdown-item" href="{{site.links.forum}}"><i class="fa fa-list" aria-hidden="true"></i>
 Forum</a>
            <a class="dropdown-item" href="{{site.links.github}}"><i class="fa fa-github" aria-hidden="true"></i>
 GitHub</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">media</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.links.blog}}">blog</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link toggle-languages" href="#" id="chooseLanguage">ENG</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
