<div id="team-mobile" class="content-block">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12 col-lg-8 col-xl-6 text-center">
        <h3>Zencash Core Support</h3>
        <p class="lead">
          The Zen core team combines decades of leadership in engineering, intelligence, and tactical operations to develop a platform resistant to any threat.
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">

        <div id="team-accordion" role="tablist" aria-multiselectable="true">

          <div class="card joshua">
            <div class="card-header" role="tab" id="headingJosh">
              <div class="card-img-top"></div>
              <div class="card-feature">
                <h3 class="name">Joshua Yabut</h3>
                <p class="title">CORE DEVELOPER / SECURITY</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseJosh" aria-expanded="true" aria-controls="collapseJosh">Read More</a>
              </div>
            </div>
            <div id="collapseJosh" class="collapse" role="tabpanel" aria-labelledby="headingJosh">
              <div class="card-block">
                <p class="card-text">Joshua is an experienced red teamer and exploit developer serving the aerospace industry. He has a passion for developing adversary-resistant networks and for redefining the status quo.</p>
                <p class="card-text">He holds an Offensive Security Certified Expert (OSCE) certification, a Masters degree from DePaul University in IT Project Management, and has extensive knowledge in exploiting government and corporate networks.</p>
              </div>
              <div class="card-footer">
                <small>
                  <a href="https://twitter.com/movrcx"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/joshua-yabut-88616961/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </small>
              </div>
            </div>
          </div>

          <div class="card rob">
            <div class="card-header" role="tab" id="headingRob">
              <div class="card-img-top"></div>
              <div class="card-feature">
                <h3 class="name">Rob Viglione</h3>
                <p class="title">ECONOMIST</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseRob" aria-expanded="true" aria-controls="collapseRob">Read More</a>
              </div>
            </div>
            <div id="collapseRob" class="collapse" role="tabpanel" aria-labelledby="headingRob">
              <div class="card-block">
                <div class="card-feature">
                  <p class="card-text">Rob is a former physicist, mercenary mathematician, and military officer with experience in satellite radar, space launch vehicles, and combat support intelligence. He’s currently a PhD Candidate in finance @UofSC researching cryptofinance and teaching “Bitcoin &amp; Blockchain Applications in Finance.</p>
                  <p class="card-text">Rob holds an MBA in Finance &amp; Marketing and the PMP certification. He is a passionate libertarian who advocates peace, freedom, and respect for individual life.</p>
                </div>
              </div>
              <div class="card-footer">
                <small>
                  <a href="https://twitter.com/robviglione"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/robert-viglione-2780634/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </small>
              </div>
            </div>
          </div>

          <div class="card rolf">
            <div class="card-header" role="tab" id="headingRolf">
              <div class="card-img-top"></div>
              <div class="card-feature">
                <h3 class="name">Rolf Versluis</h3>
                <p class="title">BUSINESS OPERATIONS</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseRolf" aria-expanded="true" aria-controls="collapseRolf">Read More</a>
              </div>
            </div>
            <div id="collapseRolf" class="collapse" role="tabpanel" aria-labelledby="headingRolf">
              <div class="card-block">
                <p class="card-text">Rolf is an experienced business owner in the IT industry and owns a mid-size Bitcoin and Zclassic (Zen) mining operation in Alpharetta, Georgia.</p>
                <p class="card-text">With prior experience at Cisco systems, the semiconductor industry, and as a nuclear trained officer in the US Submarine force, Rolf brings leadership, management, and technical operational expertise to the Zen organization.</p>
              </div>
              <div class="card-footer">
                <small>
                  <a href="https://twitter.com/RolfVersluis"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/rolfversluis/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </small>
              </div>
            </div>
          </div>

          <div class="card joseph">
            <div class="card-header" role="tab" id="headingJoe">
              <div class="card-img-top"></div>
              <div class="card-feature">
                <h3 class="name">Joseph Franco</h3>
                <p class="title">DAO ACCOUNTING</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseJoe" aria-expanded="true" aria-controls="collapseJoe">Read More</a>
              </div>
            </div>
            <div id="collapseJoe" class="collapse" role="tabpanel" aria-labelledby="headingJoe">
              <div class="card-block">
                <p class="card-text">Joseph Franco is a CPA and USC MBA with over 13 years of experience in Accounting &amp; Finance. He specializes in accounting systems implementation, financial reporting/metrics, and business taxation.</p>
                <p class="card-text">His firm works with manufacturing/distribution, online retail, lending, and web-based software development.</p>
              </div>
              <div class="card-footer">
                <small>
                  <a href="http://jfrancocpa.com/"><i class="fa fa-link" aria-hidden="true"></i></a>
                </small>
              </div>
            </div>
          </div>

          <div class="card anonymous">
            <div class="card-header" role="tab" id="headingAnon">
              <div class="card-img-top"></div>
              <div class="card-feature">
                <h3 class="name">Anonymous Contributors</h3>
                <p class="title">MULTIPLE AREAS</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseAnon" aria-expanded="true" aria-controls="collapseAnon">Read More</a>
              </div>
            </div>
            <div id="collapseAnon" class="collapse" role="tabpanel" aria-labelledby="headingAnon">
              <div class="card-block">
                <p class="card-text">Zen is supported by multiple developers and contributors that wish to remain private.</p>
                <p class="card-text">Find us on zdeveloper.org's Rocket Chat.</p>
              </div>
              <div class="card-footer">
                <small>
                  <a href="https://rocketchat.zdeveloper.org/"><i class="fa fa-link" aria-hidden="true"></i></a>
                </small>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12 col-lg-8 col-xl-6">
        <h3 class="text-center">Zencash Corporate Partners</h3>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-md-12 text-center">
          <div class="card-deck justify-content-center mb-4">
            <div class="card partner">
              <div class="card-img-top">
                <img class="img-fluid" src="/assets/img/logos/blocks-logo.png" />
              </div>
              <div class="card-block">
                <h3 class="name">Secure Blockchain Systems, LLC</h3>
                <p class="title">DEFENSE APPLICATIONS</p>
                <p class="card-text">SBS provides advanced blockchain based communication systems enabling warfighter communication in any environment.</p>
              </div>
              <div class="card-footer">
                <small>
                  <a href="https://secureblockchainsystems.com/"><i class="fa fa-link" aria-hidden="true"></i></a>
                </small>
              </div>
            </div>

            <div class="card partner">
              <div class="card-img-top">
                <img class="img-fluid" src="/assets/img/logos/rotor.png" />
              </div>
              <div class="card-block">
                <h3 class="name">Rotor Browser</h3>
                <p class="title">SECURE BROWSER</p>
                <p class="card-text">Rotor Browser is an independent next-generation secure anonymous browser currently in development.</p>
              </div>
              <div class="card-footer">
                <small>
                  <a href="https://rotorbrowser.com/"><i class="fa fa-link" aria-hidden="true"></i></a>
                </small>
              </div>
            </div>

            <div class="card partner">
              <div class="card-img-top">
                <img class="img-fluid" src="/assets/img/logos/bisq.png" />
              </div>
              <div class="card-block">
                <h3 class="name">Bisq (Bitsquare)</h3>
                <p class="title">DECENTRALIZED EXCHANGE</p>
                <p class="card-text">An open-source desktop application that allows you to buy and sell bitcoins in exchange for national currencies, or alternative crypto currencies.</p>
              </div>
              <div class="card-footer">
                <small>
                  <a href="https://bitsquare.io/"><i class="fa fa-link" aria-hidden="true"></i></a>
                </small>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
