<div id="team" class="content-block">

  <div class="container-fluid">
    <div class="row align-items-center justify-content-center mb-4">
      <div class="col-md-12 col-lg-8 col-xl-6 text-center">
        <h3>ZenCash Team</h3>
        <p class="lead">
          ZenCash founders and team come from a wide variety of backgrounds and experience, and are dedicated to empowering individuals worldwide.
        </p>
      </div>
    </div>


        <div id="team-accordion" class="card-deck justify-content-center" role="tablist" aria-multiselectable="true">

          <div class="card rob">
            <div class="card-header" role="tab" id="headingRob">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/rob.jpg"></div>
              <div class="card-feature">
                <h3 class="name">Rob Viglione</h3>
                <p class="title">SCIENTIST</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseRob" aria-expanded="true" aria-controls="collapseRob">Read More</a>
              </div>
            </div>
            <div id="collapseRob" class="collapse" role="tabpanel" aria-labelledby="headingRob">
              <div class="card-block">
                <div class="card-feature">
                  <p class="card-text">Rob is a former physicist and mathematician with experience working on Bitshares, BlockPay, Zclassic, Seasteading and Bitgate. He's currently a PhD Candidate in Finance researching cryptofinance and teaching “Bitcoin & Blockchain Applications in Finance."</p>
                  <p class="card-text">Rob holds an MBA in Finance & Marketing and the PMP certification. He is a passionate libertarian who advocates peace, freedom, and respect for individual life.</p>
                </div>
              </div>
              <div class="card-footer">
                <small>
                  <a href="https://twitter.com/robviglione"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/robert-viglione-2780634/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </small>
              </div>
            </div>
          </div>

          <div class="card rolf">
            <div class="card-header" role="tab" id="headingRolf">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/rolf-1.jpeg"></div>
              <div class="card-feature">
                <h3 class="name">Rolf Versluis</h3>
                <p class="title">BUSINESS OPERATIONS</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseRolf" aria-expanded="true" aria-controls="collapseRolf">Read More</a>
              </div>
            </div>
            <div id="collapseRolf" class="collapse" role="tabpanel" aria-labelledby="headingRolf">
              <div class="card-block">
                <p class="card-text">Rolf is an experienced business owner in the IT industry and owns a mid-size mining operation.</p>
                <p class="card-text">With prior experience at Cisco systems, the semiconductor industry, and as a nuclear trained officer in the US Submarine force, Rolf brings leadership, management, and technical operational expertise to the Zen organization.</p>
              </div>
              <div class="card-footer">
                <small>
                  <a href="https://twitter.com/RolfVersluis"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/rolfversluis/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </small>
              </div>
            </div>
          </div>

          <div class="card jane">
            <div class="card-header" role="tab" id="headingJane">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/jane.jpeg"></div>
              <div class="card-feature">
                <h3 class="name">Jane Lippencott</h3>
                <p class="title">ASIA OPERATIONS</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseJane" aria-expanded="true" aria-controls="collapseJane">Read More</a>
              </div>
            </div>
            <div id="collapseJane" class="collapse" role="tabpanel" aria-labelledby="headingJane">
              <div class="card-block">
                <p class="card-text">Jane is a budding entrepreneur with active projects in Asia & Africa who is passionate about community building & financial inclusion. Her experience ranges from financial analysis in asset & wealth management to marketing, strategy, innovation, & partnerships in venture capital & FinTech startups. She is currently pursuing degrees in international business, data analytics, & finance, & is based in Asia.</p>
              </div>
              <div class="card-footer">
                <small>
                  <a href="https://twitter.com/janehk"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/jane-lippencott-999060a2/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </small>
              </div>
            </div>
          </div>

          <div class="card jin">
            <div class="card-header" role="tab" id="headingJin">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/jin.jpg"></div>
              <div class="card-feature">
                <h3 class="name">Jin Cai</h3>
                <p class="title">CHINA OPERATIONS</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseJin" aria-expanded="true" aria-controls="collapseJin">Read More</a>
              </div>
            </div>
            <div id="collapseJin" class="collapse" role="tabpanel" aria-labelledby="headingJin">
              <div class="card-block">
                <p class="card-text">Jin is an veteran in capital markets, mainly focusing in China mainland, Hong Kong, and USA. Previously an investment director at Huawei Technologies, a leading global information and communications technology (ICT) solutions provider, Jin has over 15 years experience of asset management, private equity, and business development.</p>
                <p class="card-text">Jin holds Dual Bachelor's degree in Economics and Law from Nankai University, China and has an MBA in Finance from Rice University.</p>
              </div>
              <div class="card-footer">
                <small>

                </small>
              </div>
            </div>
          </div>

          <div class="card davit">
            <div class="card-header" role="tab" id="headingDavit">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/davit.jpg"></div>
              <div class="card-feature">
                <h3 class="name">Davit Mrelashvili</h3>
                <p class="title">EASTERN EUROPE OPERATIONS</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseDavit" aria-expanded="true" aria-controls="collapseDavit">Read More</a>
              </div>
            </div>
            <div id="collapseDavit" class="collapse" role="tabpanel" aria-labelledby="headingDavit">
              <div class="card-block">
                <p class="card-text">Davit is a seasoned business executive with and entrepreneur originally from Georgia. He has a vast experience in working with post-Soviet states, ranging from exporting used German cars to there as his side business during residency training, to negotiating clinical trials in Georgia, Russia and Ukraine, as part of his Chief Medical Officer duties in a biomedical startup.</p>
                <p class="card-text">Davit has both MD and MBA degrees, and graduated from the Singularity University executive program. He has increased his involvement in future technologies and fintech, and is passionate about making the economy more individualized, efficient, and friction-free.</p>
              </div>
              <div class="card-footer">
                <small>

                </small>
              </div>
            </div>
          </div>

          <div class="card arno">
            <div class="card-header" role="tab" id="headingArno">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/arno.jpg"></div>
              <div class="card-feature">
                <h3 class="name">Arno Pfefferling</h3>
                <p class="title">GERMANY OPERATIONS</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseArno" aria-expanded="true" aria-controls="collapseArno">Read More</a>
              </div>
            </div>
            <div id="collapseArno" class="collapse" role="tabpanel" aria-labelledby="headingArno">
              <div class="card-block">
                <p class="card-text">Arno was born, raised and now works in the Free State of Saxony (Germany) as a manufacturing engineer. His career path is placed in the semiconductor industry for more than 5 years, which gives him a direct view in the fabrication of leading edge integrated circuits.</p>
                <p class="card-text">To keep high integrity and enable continuous improvement in manufacturing processes, Arno gained a B. Eng. in Microtechnology and M.Sc. in Electronic- and Sensormaterials from the Technical University Bergakademie Freiberg. The will to break technology boundaries naturally brought him to blockchain technology, which he views as a game-changing opportunity for society.</p>
              </div>
              <div class="card-footer">
                <small>

                </small>
              </div>
            </div>
          </div>

          <div class="card andreas">
            <div class="card-header" role="tab" id="headingAndreas">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/andreas.jpg"></div>
              <div class="card-feature">
                <h3 class="name">Andreas Widerøe</h3>
                <p class="title">SCANDINAVIA OPERATIONS</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseAndreas" aria-expanded="true" aria-controls="collapseAndreas">Read More</a>
              </div>
            </div>
            <div id="collapseAndreas" class="collapse" role="tabpanel" aria-labelledby="headingAndreas">
              <div class="card-block">
                <p class="card-text">Andreas is an IT professional and an entrepreneur. He studied computer science at the University of Oslo before he started working as a technical engineer and hostmaster for a well known ISP in Norway. He went on to become a senior consultant and CTO for a second and third company. Besides this he is an entrepreneur and have started several companies over the years ranging from IT and media to real estate. Today he works as the CEO of young consultancy firm specializing in the new EU privacy law (GDPR). He is also an avid skateboarder and surfer.</p>
              </div>
              <div class="card-footer">
                <small>

                </small>
              </div>
            </div>
          </div>

          <div class="card adnan">
            <div class="card-header" role="tab" id="headingAdnan">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/adnan.jpg"></div>
              <div class="card-feature">
                <h3 class="name">Adnan Javed</h3>
                <p class="title">AUSTRALIA OPERATIONS</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseAdnan" aria-expanded="true" aria-controls="collapseAdnan">Read More</a>
              </div>
            </div>
            <div id="collapseAdnan" class="collapse" role="tabpanel" aria-labelledby="headingAdnan">
              <div class="card-block">
                <p class="card-text">Adnan is based out of Australia and holds formal Legal and Engineering qualifications. He has worked on numerous blockchain projects to date including large scale bespoke blockchain projects across internet of things, finance and payments sectors. 3 years ago he discovered Bitcoin which led him to explore blockchain applications and use cases. He has a keen interest in how blockchain technology will advance in shaping all industry sectors from an adoption, regulatory and policy perspective.</p>
              </div>
              <div class="card-footer">
                <small>

                </small>
              </div>
            </div>
          </div>

          <div class="card jose">
            <div class="card-header" role="tab" id="headingJose">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/jose.png"></div>
              <div class="card-feature">
                <h3 class="name">Jose Faisca</h3>
                <p class="title">PORTUGAL OPERATIONS</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseJose" aria-expanded="true" aria-controls="collapseJose">Read More</a>
              </div>
            </div>
            <div id="collapseJose" class="collapse" role="tabpanel" aria-labelledby="headingJose">
              <div class="card-block">
                <p class="card-text">Jose is an independent technology advisor and consultant with over 30 years of experience in the IT business. Experienced university professor and researcher in the field of computer science and new technologies. His polyglot philosophy makes him invested in a variety of technology ecosystems. Exploring emergent decentralized technologies such as the Blockchain since early 2013. His current projects focus on the concept of a decentralized semantic identity using the Blockchain and building communities and education on decentralized technologies.</p>
              </div>
              <div class="card-footer">
                <small>

                </small>
              </div>
            </div>
          </div>

          <div class="card carlo">
            <div class="card-header" role="tab" id="headingCarlo">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/carlo.jpg"></div>
              <div class="card-feature">
                <h3 class="name">Carlo Vicari</h3>
                <p class="title">BUSINESS DEVELOPMENT</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseCarlo" aria-expanded="true" aria-controls="collapseCarlo">Read More</a>
              </div>
            </div>
            <div id="collapseCarlo" class="collapse" role="tabpanel" aria-labelledby="headingCarlo">
              <div class="card-block">
                <p class="card-text">Carlo has deep experience building cryptocurrency communities, and heads community management for IOHK and has been a regular contributor to Ethereum Classic. His background includes planning growth strategies, implementing cohesive social media campaigns, and facilitating project visibility and credibility.</p>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>

          <div class="card steven">
            <div class="card-header" role="tab" id="headingSteven">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/steve.jpg"></div>
              <div class="card-feature">
                <h3 class="name">Steven Nerayoff</h3>
                <p class="title">STRATEGIC ADVISOR</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseSteven" aria-expanded="true" aria-controls="collapseSteven">Read More</a>
              </div>
            </div>
            <div id="collapseSteven" class="collapse" role="tabpanel" aria-labelledby="headingSteven">
              <div class="card-block">
                <p class="card-text">Steven is an entrepreneur, disruptor, and venture capitalist interested in smart cities, technology startups, and blockchain. He has tremendous industry experience supporting Ethereum, Lisk, and Zcash. Steve is also the Founder of CloudParc, a disruptive smart-city platform using machine vision and AI.</p>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>

          <div class="card charles">
            <div class="card-header" role="tab" id="headingCharles">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/charles.jpg"></div>
              <div class="card-feature">
                <h3 class="name">Charles Hoskinson</h3>
                <p class="title">STRATEGIC ADVISOR</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseCharles" aria-expanded="true" aria-controls="collapseCharles">Read More</a>
              </div>
            </div>
            <div id="collapseCharles" class="collapse" role="tabpanel" aria-labelledby="headingCharles">
              <div class="card-block">
                <p class="card-text">Charles is the CEO of IOHK, the blockchain industry’s leading R&D firm. He is a technology entrepreneur and mathematician, co-founder of Bitshares, Ethereum, and IOHK. Charles was the founding chairman of the Bitcoin Foundation’s education committee and established the Cryptocurrency Research Group in September of 2013. His current projects focus on education of cryptocurrency topics, evangelism of decentralization and making cryptographic tools easier to use for the mainstream.</p>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>

          <div class="card cmh">
            <div class="card-header" role="tab" id="headingCmh">
              <div class="card-img-top b-lazy" data-src="/assets/img/logos/cmh-dark.png"></div>
              <div class="card-feature">
                <h3 class="name">Crypto Media Hub</h3>
                <p class="title">LEAD MARKETING TEAM</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseCmh" aria-expanded="true" aria-controls="collapseCmh">Read More</a>
              </div>
            </div>
            <div id="collapseCmh" class="collapse" role="tabpanel" aria-labelledby="headingCmh">
              <div class="card-block">
                <div class="card-feature">
                  <p class="card-text">Crypto Media Hub is a leading cryptocurrency marketing firm with deep expertise in multimedia marketing, advertising, and growth hacking. The firm was founded in 2015 by Tatiana Moroz, an active member of the bitcoin community; the ZenCash support team includes Chief Marketing Officer Cally Ulbricht, who has a track record of proven results for new-to-market companies, and cypherpunk Chief Technology Officer Brian Sovryn.</p>
                </div>
              </div>
              <div class="card-footer">
                <small>
                  <a href="https://twitter.com/cryptomediahub"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="https://www.facebook.com/cryptomediahub"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                  <a href="https://www.youtube.com/playlist?list=PLkZEKAiNZHVIXGDC57gOS-X8BeELlXPsd"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                </small>
              </div>
            </div>
          </div>

          <div class="card william">
            <div class="card-header" role="tab" id="headingWilliam">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/will.jpg"></div>
              <div class="card-feature">
                <h3 class="name">William Wolf</h3>
                <p class="title">CORE TECHNICAL TEAM</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseWilliam" aria-expanded="true" aria-controls="collapseWilliam">Read More</a>
              </div>
            </div>
            <div id="collapseWilliam" class="collapse" role="tabpanel" aria-labelledby="headingWilliam">
              <div class="card-block">
                <p class="card-text">Professional developer/engineer for 12+ years, currently leading payments engineering team at Airbnb. Will has worked on the founding teams of several startups, grown and managed engineering teams from 1 to 30+, built scalable high-volume web-based email hosting solutions, a distributed, scalable cloud computing platform called OpenStack, and global payments systems and infrastructure. Will has been involved in Bitcoin and the crypto space since 2011 and has made contributions to many open source blockchain tools, libraries, and systems.</p>
              </div>
              <div class="card-footer">
                <small>

                </small>
              </div>
            </div>
          </div>

          <div class="card lukas">
            <div class="card-header" role="tab" id="headingLukas">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/lukas.JPG"></div>
              <div class="card-feature">
                <h3 class="name">Lukáš Bureš</h3>
                <p class="title">CORE TECHNICAL TEAM</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseLukas" aria-expanded="true" aria-controls="collapseLukas">Read More</a>
              </div>
            </div>
            <div id="collapseLukas" class="collapse" role="tabpanel" aria-labelledby="headingLukas">
              <div class="card-block">
                <p class="card-text">Lukáš is currently a PhD candidate in cybernetics at the University of West Bohemia and teaching “Computer Vision Methods,” and has an MSc in Cybernetics. He has interests in cryptocurrency, artificial intelligence, security, machine learning, data mining, and computer vision. Lukáš is fully proficiency in many programming languages and with many development libraries and tools.</p>
              </div>
              <div class="card-footer">
                <a href="https://www.linkedin.com/in/bureslukas/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>

          <div class="card jake">
            <div class="card-header" role="tab" id="headingJake">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/jake.png"></div>
              <div class="card-feature">
                <h3 class="name">Jake Tarren</h3>
                <p class="title">CORE TECHNICAL TEAM</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseJake" aria-expanded="true" aria-controls="collapseJake">Read More</a>
              </div>
            </div>
            <div id="collapseJake" class="collapse" role="tabpanel" aria-labelledby="headingJake">
              <div class="card-block">
                <p class="card-text">Jake is a volunteer with the development team. He's currently heading up the communications and outreach for the dev team, and plans on taking on more development intensive roles. His day job is a Red Team Engineer at NASA, where he routinely breaks things.</p>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>

          <div class="card kendrick">
            <div class="card-header" role="tab" id="headingKendrick">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/kendrick.png"></div>
              <div class="card-feature">
                <h3 class="name">Kendrick Tan</h3>
                <p class="title">CORE TECHNICAL TEAM</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseKendrick" aria-expanded="true" aria-controls="collapseKendrick">Read More</a>
              </div>
            </div>
            <div id="collapseKendrick" class="collapse" role="tabpanel" aria-labelledby="headingKendrick">
              <div class="card-block">
                <p class="card-text">Kendrick is a self taught programmer and his areas of interests are machine learning, blockchain, functional programming, and infosec. Doing his free time, he has built a brainfuck interpreter in haskell, a self driving RC car, as well as a face indexer for instagram. He also likes taking photos of his favorite feline: <a href="https://www.instagram.com/mr.miso.oz/">https://www.instagram.com/mr.miso.oz/</a></p>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>

          <div class="card mike">
            <div class="card-header" role="tab" id="headingMike">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/mike.jpg"></div>
              <div class="card-feature">
                <h3 class="name">Mike Lorey</h3>
                <p class="title">CORE TECHNICAL TEAM</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseMike" aria-expanded="true" aria-controls="collapseMike">Read More</a>
              </div>
            </div>
            <div id="collapseMike" class="collapse" role="tabpanel" aria-labelledby="headingMike">
              <div class="card-block">
                <p class="card-text">Mike is a notable software engineer, marketing technologist, and social entrepreneur. His focus lies at the intersection between raw creative and technical skills, bending the conceptual into the tangible things that other people want or need.</p>
                <p class="card-text">Mike holds an MBA in Marketing and is a self-taught programmer.</p>
              </div>
              <div class="card-footer">
                <small>
                  <a href="https://twitter.com/mdlorey"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/mikelorey/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </small>
              </div>
            </div>
          </div>

          <div class="card anarch">
            <div class="card-header" role="tab" id="headingAnarch">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/anarch3.jpg"></div>
              <div class="card-feature">
                <h3 class="name">anarch3</h3>
                <p class="title">CORE TECHNICAL TEAM</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseAnarch" aria-expanded="true" aria-controls="collapseAnarch">Read More</a>
              </div>
            </div>
            <div id="collapseAnarch" class="collapse" role="tabpanel" aria-labelledby="headingAnarch">
              <div class="card-block">
                <p class="card-text">anarch3 is a self-taught programmer who has been a project maintainer for various projects ranging from simple password generators to complex cryptocurrencies. Also a twitter addict.</p>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>

          <div class="card cronic">
            <div class="card-header" role="tab" id="headingCronic">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/cronic.jpg"></div>
              <div class="card-feature">
                <h3 class="name">cronic</h3>
                <p class="title">CORE TECHNICAL TEAM</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseCronic" aria-expanded="true" aria-controls="collapseCronic">Read More</a>
              </div>
            </div>
            <div id="collapseCronic" class="collapse" role="tabpanel" aria-labelledby="headingCronic">
              <div class="card-block">
                <p class="card-text">cronic is an experienced Linux sysadmin who originally started off in the telecommunications industry. He specializes in virtualization technologies, storage and application containerization. He'll be supporting the Dev Team with creating and running a continuous deployment pipeline and make sure the infrastructure keeps running. He's passionate about privacy in the digital age and prefers to stay pseudonymous.</p>
              </div>
              <div class="card-footer">
                <small>
                  <a href="https://w2.eff.org/Privacy/Crypto/Crypto_misc/cypherpunk.manifesto"><i class="fa fa-link" aria-hidden="true"></i></a>
                  <a href="https://github.com/cronicc"><i class="fa fa-link" aria-hidden="true"></i></a>
                </small>
              </div>
            </div>
          </div>

          <div class="card wayne">
            <div class="card-header" role="tab" id="headingWayne">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/wayne.png"></div>
              <div class="card-feature">
                <h3 class="name">Wayne Dawson</h3>
                <p class="title">CORE TECHNICAL TEAM</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseWayne" aria-expanded="true" aria-controls="collapseWayne">Read More</a>
              </div>
            </div>
            <div id="collapseWayne" class="collapse" role="tabpanel" aria-labelledby="headingWayne">
              <div class="card-block">
                <p class="card-text">Wayne has an MS in Electrical Engineering and 30+ years experience as a software developer. He began working with alternative currencies in 2000 when he was involved with e-gold, and has written multiple other web-based currency systems.</p>
                <p class="card-text">Wayne teaches electronics and programming, and became involved with cryptocurrencies after buying an ASIC miner from a fellow libertarian in 2014. He believes decentralized blockchain technologies are making the world freer, more just, and more inclusive.</p>
              </div>
              <div class="card-footer">
                <small>

                </small>
              </div>
            </div>
          </div>

          <div class="card eli">
            <div class="card-header" role="tab" id="headingEli">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/eli.jpg"></div>
              <div class="card-feature">
                <h3 class="name">Eli Moskowitz</h3>
                <p class="title">CORE TECHNICAL TEAM</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseEli" aria-expanded="true" aria-controls="collapseEli">Read More</a>
              </div>
            </div>
            <div id="collapseEli" class="collapse" role="tabpanel" aria-labelledby="headingEli">
              <div class="card-block">
                <p class="card-text">Eli is a Software Engineer with the dev team.  New to cryptocurrency development, he is excited to bring his industry experience working in fast paced, agile environments to the ZenCash team.</p>
                <p class="card-text">He has a BS in Computer Science from the University of California San Diego.</p>
              </div>
              <div class="card-footer">
                <small>

                </small>
              </div>
            </div>
          </div>

          <div class="card gustavo">
            <div class="card-header" role="tab" id="headingGustavo">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/gustavo.jpg"></div>
              <div class="card-feature">
                <h3 class="name">Gustavo Fialho</h3>
                <p class="title">COMMUNITY MANAGEMENT</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseGustavo" aria-expanded="true" aria-controls="collapseGustavo">Read More</a>
              </div>
            </div>
            <div id="collapseGustavo" class="collapse" role="tabpanel" aria-labelledby="headingGustavo">
              <div class="card-block">
                <p class="card-text">Gustavo is a web developer and entrepreneur with extensive experience supporting cryptocurrency projects. When not in front of a computer he can be found cycling up hills sporting his Pantani Jersey. He believes life should be kept simple and enjoys helping others.</p>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>

          <div class="card rosario">
            <div class="card-header" role="tab" id="headingRosario">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/rosario.jpg"></div>
              <div class="card-feature">
                <h3 class="name">Rosario Pabst</h3>
                <p class="title">PROJECT MANAGER | OPERATIONS</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseRosario" aria-expanded="true" aria-controls="collapseRosario">Read More</a>
              </div>
            </div>
            <div id="collapseRosario" class="collapse" role="tabpanel" aria-labelledby="headingRosario">
              <div class="card-block">
                <p class="card-text">Rosario has over 12 years experience as a technology project manager for satellite, aircraft, and software systems. She has demonstrated expertise in all aspects of project management, leading cross-functional teams, and implementing both Agile and Lean methods. Rosario has a M.S. in Systems Engineering and the PMP certification.</p>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>

          <div class="card simran">
            <div class="card-header" role="tab" id="headingSimran">
              <div class="card-img-top b-lazy" data-src="/assets/img/people/simran.jpg"></div>
              <div class="card-feature">
                <h3 class="name">Simran Dhillon</h3>
                <p class="title">CREATIVE DIRECTOR</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseSimran" aria-expanded="true" aria-controls="collapseSimran">Read More</a>
              </div>
            </div>
            <div id="collapseSimran" class="collapse" role="tabpanel" aria-labelledby="headingSimran">
              <div class="card-block">
                <p class="card-text">Simran has experience in Web design, Graphic design, Asset management and Front-end development. He's an early investor in this industry, and also owns a mid-size Ubiq (UBQ) and ZenCash (ZEN) mining facility in Iceland. He formerly used to work as an Analyst at GS Investment Banking Division (IBD).</p>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>

        </div>

  </div>


</div>
