<div id="team" class="content-block">

  <div class="container-fluid">
    <div class="row align-items-center justify-content-center mb-4">
      <div class="col-md-12 col-lg-8 col-xl-6 text-center">
        <h3>ZenCash Team</h3>
        <p class="lead">
          ZenCash founders and team come from a wide variety of backgrounds and experience, and are dedicated to empowering individuals worldwide.
        </p>
      </div>
    </div>


        <div id="team-accordion" class="card-deck justify-content-center" role="tablist" aria-multiselectable="true">

          <div class="card rob">
            <div class="card-header" role="tab" id="headingRob">
              <div class="card-img-top"></div>
              <div class="card-feature">
                <h3 class="name">Rob Viglione</h3>
                <p class="title">ECONOMIST</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseRob" aria-expanded="true" aria-controls="collapseRob">Read More</a>
              </div>
            </div>
            <div id="collapseRob" class="collapse" role="tabpanel" aria-labelledby="headingRob">
              <div class="card-block">
                <div class="card-feature">
                  <p class="card-text">Rob is a former physicist and mathematician with experience working on Bitshares, BlockPay, Zclassic, Seasteading and Bitgate. He's currently a PhD Candidate in Finance researching cryptofinance and teaching “Bitcoin & Blockchain Applications in Finance."</p>
                  <p class="card-text">Rob holds an MBA in Finance & Marketing and the PMP certification. He is a passionate libertarian who advocates peace, freedom, and respect for individual life.</p>
                </div>
              </div>
              <div class="card-footer">
                <small>
                  <a href="https://twitter.com/robviglione"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/robert-viglione-2780634/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </small>
              </div>
            </div>
          </div>


          <div class="card rolf">
            <div class="card-header" role="tab" id="headingRolf">
              <div class="card-img-top"></div>
              <div class="card-feature">
                <h3 class="name">Rolf Versluis</h3>
                <p class="title">BUSINESS OPERATIONS</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseRolf" aria-expanded="true" aria-controls="collapseRolf">Read More</a>
              </div>
            </div>
            <div id="collapseRolf" class="collapse" role="tabpanel" aria-labelledby="headingRolf">
              <div class="card-block">
                <p class="card-text">Rolf is an experienced business owner in the IT industry and owns a mid-size mining operation.</p>
                <p class="card-text">With prior experience at Cisco systems, the semiconductor industry, and as a nuclear trained officer in the US Submarine force, Rolf brings leadership, management, and technical operational expertise to the Zen organization.</p>
              </div>
              <div class="card-footer">
                <small>
                  <a href="https://twitter.com/RolfVersluis"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/rolfversluis/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </small>
              </div>
            </div>
          </div>

          <div class="card jane">
            <div class="card-header" role="tab" id="headingJane">
              <div class="card-img-top"></div>
              <div class="card-feature">
                <h3 class="name">Jane Lippencott</h3>
                <p class="title">ASIA OPERATIONS</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseJane" aria-expanded="true" aria-controls="collapseJane">Read More</a>
              </div>
            </div>
            <div id="collapseJane" class="collapse" role="tabpanel" aria-labelledby="headingJane">
              <div class="card-block">
                <p class="card-text">Jane is a budding entrepreneur with active projects in Asia & Africa who is passionate about community building & financial inclusion. Her experience ranges from financial analysis in asset & wealth management to marketing, strategy, innovation, & partnerships in venture capital & FinTech startups. She is currently pursuing degrees in international business, data analytics, & finance, & is based in Asia.</p>
              </div>
              <div class="card-footer">
                <small>
                  <a href="https://twitter.com/janehk"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/jane-lippencott-999060a2/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </small>
              </div>
            </div>
          </div>

          <div class="card carlo">
            <div class="card-header" role="tab" id="headingCarlo">
              <div class="card-img-top"></div>
              <div class="card-feature">
                <h3 class="name">Carlo Vicari</h3>
                <p class="title">BUSINESS DEVELOPMENT</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseCarlo" aria-expanded="true" aria-controls="collapseCarlo">Read More</a>
              </div>
            </div>
            <div id="collapseCarlo" class="collapse" role="tabpanel" aria-labelledby="headingCarlo">
              <div class="card-block">
                <p class="card-text">Carlo has deep experience building cryptocurrency communities, and heads community management for IOHK and has been a regular contributor to Ethereum Classic. His background includes planning growth strategies, implementing cohesive social media campaigns, and facilitating project visibility and credibility.</p>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>

          <div class="card steven">
            <div class="card-header" role="tab" id="headingSteven">
              <div class="card-img-top"></div>
              <div class="card-feature">
                <h3 class="name">Steven Nerayoff</h3>
                <p class="title">STRATEGIC ADVISOR</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseSteven" aria-expanded="true" aria-controls="collapseSteven">Read More</a>
              </div>
            </div>
            <div id="collapseSteven" class="collapse" role="tabpanel" aria-labelledby="headingSteven">
              <div class="card-block">
                <p class="card-text">Steven is an entrepreneur, disruptor, and venture capitalist interested in smart cities, technology startups, and blockchain. He has tremendous industry experience supporting Ethereum, Lisk, and Zcash. Steve is also the Founder of CloudParc, a disruptive smart-city platform using machine vision and AI.</p>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>

          <div class="card charles">
            <div class="card-header" role="tab" id="headingCharles">
              <div class="card-img-top"></div>
              <div class="card-feature">
                <h3 class="name">Charles Hoskinson</h3>
                <p class="title">STRATEGIC ADVISOR</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseCharles" aria-expanded="true" aria-controls="collapseCharles">Read More</a>
              </div>
            </div>
            <div id="collapseCharles" class="collapse" role="tabpanel" aria-labelledby="headingCharles">
              <div class="card-block">
                <p class="card-text">Charles is the CEO of IOHK, the blockchain industry’s leading R&D firm. He is a technology entrepreneur and mathematician, co-founder of Bitshares, Ethereum, and IOHK. Charles was the founding chairman of the Bitcoin Foundation’s education committee and established the Cryptocurrency Research Group in September of 2013. His current projects focus on education of cryptocurrency topics, evangelism of decentralization and making cryptographic tools easier to use for the mainstream.</p>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>

          {% comment %}
          <div class="card veritas">
            <div class="card-header" role="tab" id="headingVeritas">
              <div class="card-img-top"></div>
              <div class="card-feature">
                <h3 class="name">Team Veritas</h3>
                <p class="title">CORE TECHNICAL TEAM</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseVeritas" aria-expanded="true" aria-controls="collapseVeritas">Read More</a>
              </div>
            </div>
            <div id="collapseVeritas" class="collapse" role="tabpanel" aria-labelledby="headingVeritas">
              <div class="card-block">
                <p class="card-text">IOHK’s Team Veritas, led by Prof. Roman Oliynykov, Ph.D (cryptographer, IT security researcher, and developer of the the Kalyna block cipher and the Kupyna function) help maintain the ZenCash blockchain. The team includes Dmytro Kaidalov Ph.D (cryptographer & software developer) and Andrii Nastenko, Ph.D (cryptographer & IT security expert). </p>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>
          {% endcomment %}

          <div class="card william">
            <div class="card-header" role="tab" id="headingWilliam">
              <div class="card-img-top" style="background-image: url('/assets/img/people/will.jpg');"></div>
              <div class="card-feature">
                <h3 class="name">William Wolf</h3>
                <p class="title">CORE TECHNICAL TEAM</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseWilliam" aria-expanded="true" aria-controls="collapseWilliam">Read More</a>
              </div>
            </div>
            <div id="collapseWilliam" class="collapse" role="tabpanel" aria-labelledby="headingWilliam">
              <div class="card-block">
                <p class="card-text">Professional developer/engineer for 12+ years, currently leading payments engineering team at Airbnb. Will has worked on the founding teams of several startups, grown and managed engineering teams from 1 to 30+, built scalable high-volume web-based email hosting solutions, a distributed, scalable cloud computing platform called OpenStack, and global payments systems and infrastructure. Will has been involved in Bitcoin and the crypto space since 2011 and has made contributions to many open source blockchain tools, libraries, and systems.</p>
              </div>
              <div class="card-footer">
                <small>

                </small>
              </div>
            </div>
          </div>

          <div class="card lukas">
            <div class="card-header" role="tab" id="headingLukas">
              <div class="card-img-top"></div>
              <div class="card-feature">
                <h3 class="name">Lukáš Bureš</h3>
                <p class="title">CORE TECHNICAL TEAM</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseLukas" aria-expanded="true" aria-controls="collapseLukas">Read More</a>
              </div>
            </div>
            <div id="collapseLukas" class="collapse" role="tabpanel" aria-labelledby="headingLukas">
              <div class="card-block">
                <p class="card-text">Lukáš is currently a PhD candidate in cybernetics at the University of West Bohemia and teaching “Computer Vision Methods,” and has an MSc in Cybernetics. He has interests in cryptocurrency, artificial intelligence, security, machine learning, data mining, and computer vision. Lukáš is fully proficiency in many programming languages and with many development libraries and tools.</p>
              </div>
              <div class="card-footer">
                <a href="https://www.linkedin.com/in/bureslukas/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>

          <div class="card jake">
            <div class="card-header" role="tab" id="headingJake">
              <div class="card-img-top"></div>
              <div class="card-feature">
                <h3 class="name">Jake Tarren</h3>
                <p class="title">CORE TECHNICAL TEAM</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseJake" aria-expanded="true" aria-controls="collapseJake">Read More</a>
              </div>
            </div>
            <div id="collapseJake" class="collapse" role="tabpanel" aria-labelledby="headingJake">
              <div class="card-block">
                <p class="card-text">Jake is a volunteer with the development team. He's currently heading up the communications and outreach for the dev team, and plans on taking on more development intensive roles. His day job is a Red Team Engineer at NASA, where he routinely breaks things.</p>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>

          <div class="card mike">
            <div class="card-header" role="tab" id="headingMike">
              <div class="card-img-top"></div>
              <div class="card-feature">
                <h3 class="name">Mike Lorey</h3>
                <p class="title">CORE TECHNICAL TEAM</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseMike" aria-expanded="true" aria-controls="collapseMike">Read More</a>
              </div>
            </div>
            <div id="collapseMike" class="collapse" role="tabpanel" aria-labelledby="headingMike">
              <div class="card-block">
                <p class="card-text">Mike is a notable software engineer, marketing technologist, and social entrepreneur. His focus lies at the intersection between raw creative and technical skills, bending the conceptual into the tangible things that other people want or need.</p>
                <p class="card-text">Mike holds an MBA in Marketing and is a self-taught programmer.</p>
              </div>
              <div class="card-footer">
                <small>
                  <a href="https://twitter.com/mdlorey"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/mikelorey/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </small>
              </div>
            </div>
          </div>

          <div class="card anarch">
            <div class="card-header" role="tab" id="headingAnarch">
              <div class="card-img-top"></div>
              <div class="card-feature">
                <h3 class="name">anarch3</h3>
                <p class="title">CORE TECHNICAL TEAM</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseAnarch" aria-expanded="true" aria-controls="collapseAnarch">Read More</a>
              </div>
            </div>
            <div id="collapseAnarch" class="collapse" role="tabpanel" aria-labelledby="headingAnarch">
              <div class="card-block">
                <p class="card-text">anarch3 is a self-taught programmer who has been a project maintainer for various projects ranging from simple password generators to complex cryptocurrencies. Also a twitter addict.</p>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>

          <div class="card cronic">
            <div class="card-header" role="tab" id="headingCronic">
              <div class="card-img-top"></div>
              <div class="card-feature">
                <h3 class="name">cronic</h3>
                <p class="title">CORE TECHNICAL TEAM</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseCronic" aria-expanded="true" aria-controls="collapseCronic">Read More</a>
              </div>
            </div>
            <div id="collapseCronic" class="collapse" role="tabpanel" aria-labelledby="headingCronic">
              <div class="card-block">
                <p class="card-text">cronic is an experienced Linux sysadmin who originally started off in the telecommunications industry. He specializes in virtualization technologies, storage and application containerization. He'll be supporting the Dev Team with creating and running a continuous deployment pipeline and make sure the infrastructure keeps running. He's passionate about privacy in the digital age and prefers to stay pseudonymous.</p>
              </div>
              <div class="card-footer">
                <small>
                  <a href="https://w2.eff.org/Privacy/Crypto/Crypto_misc/cypherpunk.manifesto"><i class="fa fa-link" aria-hidden="true"></i></a>
                  <a href="https://github.com/cronicc"><i class="fa fa-link" aria-hidden="true"></i></a>
                </small>
              </div>
            </div>
          </div>

          <div class="card gustavo">
            <div class="card-header" role="tab" id="headingGustavo">
              <div class="card-img-top"></div>
              <div class="card-feature">
                <h3 class="name">Gustavo Fialho</h3>
                <p class="title">COMMUNITY MANAGEMENT</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseGustavo" aria-expanded="true" aria-controls="collapseGustavo">Read More</a>
              </div>
            </div>
            <div id="collapseGustavo" class="collapse" role="tabpanel" aria-labelledby="headingGustavo">
              <div class="card-block">
                <p class="card-text">Gustavo is a web developer and entrepreneur with extensive experience supporting cryptocurrency projects. When not in front of a computer he can be found cycling up hills sporting his Pantani Jersey. He believes life should be kept simple and enjoys helping others.</p>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>

          <div class="card rosario">
            <div class="card-header" role="tab" id="headingRosario">
              <div class="card-img-top"></div>
              <div class="card-feature">
                <h3 class="name">Rosario Pabst</h3>
                <p class="title">PROJECT MANAGER | OPERATIONS</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseRosario" aria-expanded="true" aria-controls="collapseRosario">Read More</a>
              </div>
            </div>
            <div id="collapseRosario" class="collapse" role="tabpanel" aria-labelledby="headingRosario">
              <div class="card-block">
                <p class="card-text">Rosario has over 12 years experience as a technology project manager for satellite, aircraft, and software systems. She has demonstrated expertise in all aspects of project management, leading cross-functional teams, and implementing both Agile and Lean methods. Rosario has a M.S. in Systems Engineering and the PMP certification.</p>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>

          <div class="card simran">
            <div class="card-header" role="tab" id="headingSimran">
              <div class="card-img-top"></div>
              <div class="card-feature">
                <h3 class="name">Simran Dhillon</h3>
                <p class="title">CREATIVE DIRECTOR</p>
                <a class="btn btn-primary collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseSimran" aria-expanded="true" aria-controls="collapseSimran">Read More</a>
              </div>
            </div>
            <div id="collapseSimran" class="collapse" role="tabpanel" aria-labelledby="headingSimran">
              <div class="card-block">
                <p class="card-text">Simran has experience in Web design, Graphic design, Asset management and Front-end development. He's an early investor in this industry, and also owns a mid-size Ubiq (UBQ) and ZenCash (ZEN) mining facility in Iceland. He formerly used to work as an Analyst at GS Investment Banking Division (IBD).</p>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>


        </div>

  </div>


</div>
