.btn {
    font-weight: bold;
    border-radius: 0;
    box-shadow: 0 1px 12px 1px rgba(0,0,0,0.1);
    @include transition(all 0.3s ease-in-out);
    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 1px 12px 1px rgba(0,0,0,0.3);
      @include transition(all 0.3s ease-in-out);
    }
}

.btn-primary {
  background-color: darken($orange, 5%);
  border: none;
  &:hover,
  &:focus,
  &:active {
    background-color: $orange;
  }
}

#mainNav {
  .nav-link {
    color: white;
    font-family: $header-font-family;
    font-weight: $header-font-weight;
  }
}

.jumbotron {
  position: relative;
  color: white;
  background-color: $teal;
  border-radius: 0;
  margin-bottom: 0;
  overflow: hidden;
  padding: 4rem 2rem 6rem;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  h1, h2, h3, h4 {
    color: white;
  }
  #bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    @include bgimagecover($darkteal, '../img/space-placeholder.jpg', center);
  }
  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba($darkteal, 0.75), $teal);
  }
  .block-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23174e50' fill-opacity='0.2'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center bottom;
  }
  h1 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 2rem;
    strong {
      font-weight: 600;
    }
  }
  h3 {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  @media (min-width: 576px) {
    padding: 8rem 2rem 10rem;
  }
}

.content-block {
  background-color: $gray;
  padding: 4rem 1rem;
  .container-fluid {
    max-width: 1800px;
  }
  .img-fluid {
    display: block;
    margin: 0 auto;
  }
}

.featured-content {
  color: white;
  background-color: $teal;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  h1, h2, h3, h4 {
    color: white;
  }
  .row:first-of-type {
    margin-bottom: 3rem;
    h2 {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0;
    }
  }
}

#zenBlock {
  margin-top: -274px;
}

.feature-band {
  color: white;
  background-color: $purple;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  h1, h2, h3, h4 {
    color: white;
  }
}

.feature-orange {
  background-color: rgba(darken($orange, 5%), 0.2);
  // background-image: linear-gradient(to bottom, $gray, rgba($orange, 0.2));
  h1, h2, h3, h4 {
    color: darken($orange, 5%);
  }
}

#technology {
}

#team {
  color: white;
  background-color: darken($orange, 5%);
  h1, h2, h3, h4 {
    color: white;
    &.name {
      color: $teal;
    }
  }
  .card {
    min-width: 300px;
    max-width: 300px;
    margin-bottom: 30px;
  }
}

#faqs {
  color: white;
  background-color: $teal;
  background: linear-gradient(to bottom, $teal, $darkteal);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23174e50' fill-opacity='0.2'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to bottom, $teal, $darkteal);
  background-position: center bottom;
  h1, h2, h3, h4 {
    color: white;
  }
}

.swatch {
  height: 100px;
  width: 100px;
  display: inline-block;
  &.orange {
    background-color: $orange;
  }
  &.tan {
    background-color: $tan;
  }
  &.purple {
    background-color: $purple;
  }
  &.teal {
    background-color: $teal;
  }
  &.darkteal {
    background-color: $darkteal;
  }
}


// for hero
// background-color: #256468;
// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23174e50' fill-opacity='0.2'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
