* {
  -webkit-font-smoothing: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: $green;
  text-transform: uppercase;
}
h1 {
  letter-spacing: 10px;
}
h2 {
  font-weight: 700;
  letter-spacing: 9px;
}
h3 {
  font-weight: 700;
  letter-spacing: 6px;
}

section:not(#hero) {
  ul {
    list-style-type: none;
    margin-left: 0;
    li {
      padding: 4px 0;
      &:before {
        content: "\2022";
        margin-right: .5rem;
      }
    }
  }
}

.btn {
  font-weight: 100;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  text-shadow: none;
  white-space: normal;
}
.btn-lg {
  font-size: 14px;
  letter-spacing: 4px;
  padding: 24px 34px;
}
.btn-primary {
  color: black;
  background-color: $green;
  &:hover,
  &:focus {
    color: black;
    background-color: #fff;
  }
}

.section-title {
  text-align: center;
}
h2.section-title {
  font-size: 20px;
  letter-spacing: 0.35rem;
  margin-bottom: 4rem;
}
.subhead-large {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 42px;
  line-height: 48px;
  font-weight: 100;
}
.lined-subtext {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
  font-weight: 100;
  color: #185e94;
  margin-top: 1rem;
  text-align: center;
  &:before,
  &:after {
    display: inline-block;
    content: '';
    height: 1px;
    width: 12vw;
    background-color: #185e94;
  }
  &:before {
    margin-right: 20px;
  }
  &:after {
    margin-left: 15px;
  }
}

.site-header {
  z-index: 100;
  position: fixed;
  width: 100%;
  -webkit-backface-visibility: hidden;
  .navbar {
    padding: .5rem 30px;
  }
  .navbar-brand {
    font-size: 1rem;
    line-height: 1;
    max-width: 200px;
  }
  .navbar-brand,
  .nav-link {
    color: $green;
    font-weight: 400;
    // text-transform: lowercase;
    &:hover,
    &:focus,
    &:active {
        color: #fff;
    }
  }
  @media (max-width: 767px) {
    &.headroom--not-top {
      .navbar-brand {
        padding-bottom: 4px;
      }
    }
    .navbar {
      padding-left: 0;
      padding-right: 0;
    }
    .navbar-brand {
      padding-left: 15px;
      padding-bottom: 10px;
    }
    .navbar-collapse {
      padding: 0 15px;
      background-color: darken($orange, 5%);
      .nav-item:first-of-type {
        padding-top: 15px;
      }
      .nav-item:last-of-type {
        padding-bottom: 15px;
      }
    }
  }
  @media (min-width: 992px) {
    .navbar-expand-lg {
      .navbar-nav {
        .nav-link {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
}

.site-header {
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid $darkblue;
  @include transition(all 0.3s ease-in-out);
  &.headroom--not-top {
    background-color: black;
    border-bottom: 1px solid transparent;
    @include transition(all 0.3s ease-in-out);
    &.slideUp {
      box-shadow: none;
      @include transition(all 0.3s ease-in-out);
    }
    &.slideDown {
      box-shadow: 0 1px 12px 1px rgba(0,0,0,0.2);
      @include transition(all 0.3s ease-in-out);
    }
  }
}

#mainNav,
.navbar-nav {
  align-items: center!important;
}

.dropdown-menu {
  background-color: $darkblue;
  border-radius: 0;
}
.dropdown-item {
  color: $green;
  padding: 15px 60px;
  &:hover,
  &:focus {
    color: white;
    background-color: $blue;
  }
}
.dropdown-toggle {
  &::after {
    width: auto;
    height: auto;
    font-family: FontAwesome;
    font-size: 0.75rem;
    content: "\f078";
    border: 0;
  }
}
#chooseLanguage {
  font-size: .75rem;
  color: white;
  border: 1px solid white;
  padding: .625rem 1rem .5rem;
  margin-left: 14px;
  &::after {
    display: none;
  }
  &:hover,
  &:focus {
    color: white;
    background-color: $darkblue;
    border-color: $darkblue;
  }
}

.jumbotron {
  display: flex;
  align-items: center!important;
  position: relative;
  color: white;
  border-radius: 0;
  margin-bottom: 0;
  overflow: hidden;
  min-height: 100vh;
  padding: 4rem 2rem 0;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  h1, h2, h3, h4, h5, h6 {
    color: white;
    margin-bottom: 10px;
  }
  h1 {
    font-size: 72px;
    line-height: 60px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 20px;
    line-height: 38px;
  }
  #bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    @include bgimagecover($darkteal, '../vid/cities.jpg', center);
  }
  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(8, 22, 51, .6);
  }
  .featured-announcement {
    color: $green;
    border: 1px solid rgba(white, 0.5);
    padding: 3rem 2rem;
    margin-top: 3rem;
  }
}

.social-sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
  .social-icon {
    padding: 10px;
    border-radius: 5rem;
    img {
      width: 35px;
    }
    &:hover,
    &:focus {
      background-color: $darkblue;
    }
  }
}

.language-sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 300px;
  top: 0;
  right: 0;
  z-index: 101;
  background-color: $green;
  transform: translateX(300px);
  @include transition(all 0.3s ease-in-out);
  &.show {
    transform: translateX(0);
    @include transition(all 0.3s ease-in-out);
  }
  ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
  }
  li {
    a {
      display: block;
      color: #1b2f59;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 4px;
      text-transform: uppercase;
      text-align: center;
      padding: 20px 0;
      &:hover,
      &:focus {
        background-color: hsla(0, 0%, 100%, .2);
        text-decoration: none;
      }
    }
  }
  #languageClose {
    display: block;
    width: 70px;
    height: 70px;
    margin-left: auto;
    padding-top: 35px;
    padding-right: 16px;
    padding-left: 16px;
    float: none;
    clear: none;
    background-color: transparent;
  }
  .x {
    position: static;
    top: 0px;
    right: 0px;
    display: inline-block;
    width: 41px;
    height: 1px;
    margin-left: -37px;
    float: right;
    background-color: #000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
  }
  .x2 {
    margin-left: 0px;
    float: right;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    text-align: left;
  }
}

.body-links {
  // padding: 0 84px;
  margin-bottom: 6rem;
  .col {
    padding: 0 2px;
  }
}
.body-link {
  display: block;
  background-color: $lightgray;
  padding: 60px 0 30px;
  @include transition(all 0.3s ease-in-out);
  &:hover {
    text-decoration: none;
    background-color: $green;
    @include transition(all 0.3s ease-in-out);
    .feature-icon {
      transform: translateY(-5px);
      @include transition(all 0.3s ease-in-out);
    }
    .down-arrow {
      opacity: 1;
      @include transition(all 0.3s ease-in-out);
    }
  }
  .feature-icon {
    max-width: 100px;
    transform: translateY(0);
    @include transition(all 0.3s ease-in-out);
  }
  h3 {
    color: $darkblue;
    font-size: 16px;
    margin-top: 1rem;
    transform: translateY(0);
    @include transition(all 0.3s ease-in-out);
  }
  .down-arrow {
    width: 19px;
    opacity: 0;
    @include transition(all 0.3s ease-in-out);
  }
}

@keyframes wobble {
  0%, 100% {transform: translate(0px, 0px);}
  16.6667% {transform: translate(4px, 4px);}
  33.3334% {transform: translate(-4px, -4px);}
  50% {transform: translate(2px, 2px);}
  66.6668% {transform: translate(6px, -6px);}
  83.3335% {transform: translate(3px, 3px);}
}

.about-zen {
  background-image: url('../img/gray-dots.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin-bottom: 6rem;
}

.zentext {
  color: $gray;
  padding: 5rem 0;
  img {
    max-width: 200px;
    margin: 0 auto;
  }
  h3 {
    color: $gray;
    font-size: 20px;
    letter-spacing: 5px;
    margin-bottom: 5px;
  }
}
.zen-icon {
  width: 400px;
  max-width: 100%;
  animation-name: wobble;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#features {
  color: white;
  background-color: $darkblue;
  background-image: url("../img/world-connections.png"), linear-gradient(180deg, $darkblue, #0086ee);
  background-position: 50% 0px, 0px 0px;
  background-size: 80%, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: fixed, scroll;
  padding: 100px 50px 120px;
  h3 {
    color: white;
    font-weight: 100;
    text-transform: none;
    letter-spacing: 0.2rem;
  }
  .feature-row {
    padding: 2.4rem 0;
    &.even {
      text-align: right;
    }
  }
}

#technology {
  color: white;
  background-color: #1b2f59;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../img/nodes-bkg.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  padding: 160px 50px 120px;
  h3 {
    font-weight: 400;
    text-transform: none;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.15rem;
  }
  a {
    color: $green;
    text-decoration: underline;
  }
}

#roadmap {
  padding: 100px 0 0;
  .zencash-logo {
    max-width: 338px;
  }
  .year-title {
    position: relative;
    color: white;
    margin: 3rem 0;
    span {
      display: inline-block;
      font-size: 36px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 10px;
      background-color: $darkblue;
      border-radius: 5rem;
      padding: 30px 50px 30px 60px;
      &:before,
      &:after {
        position: absolute;
        left: 50%;
        margin-left: -10px;
        display: block;
        content: '';
        height: 20px;
        width: 20px;
        background-color: $green;
        border-radius: 5rem;
      }
      &:before {
        top: -14px;
      }
      &:after {
        bottom: -14px;
      }
    }
    .vertical-line {
      display: block;
      width: 1px;
      height: 40px;
      background-color: $darkblue;
      margin: 0 auto;
    }
  }
  .entry-icon {
    display: flex;
    align-items: center;
    width: 30%;
    position: relative;
    // padding-top: 12px;
    .icon-container {
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 150px;
      background-color: $green;
      border-radius: 5rem;
      img {
        max-width: 60%;
        max-height: 60%;
      }
    }
    .horizontal-line {
      position: absolute;
      top: 50%;
      display: block;
      width: 100%;
      height: 1px;
      background-color: $darkblue;
    }
  }
  .entry-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    h3 {
      color: #1b2f59;
      font-size: 48px;
      text-transform: none;
      line-height: 70px;
      font-weight: 100;
      letter-spacing: 0;
      margin-bottom: 0;
    }
  }

  .timeline-entry {
    display: flex;
    width: 70%;
    margin: 3rem 0;
    &.odd {
      margin-left: -15px;
      .icon-container {
        margin-left: auto;
      }
      .entry-text {
        padding-left: 3rem;
      }
    }
    &.even {
      margin-left: auto;
      margin-right: -15px;
      .entry-icon {
        order: 1;
      }
      .icon-container {
        margin-right: auto;
      }
      .entry-text {
        order: 0;
        padding-right: 3rem;
        text-align: right;
      }
    }
  }

}

#white-paper {
  .container {
    padding: 5rem 15px;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
  }
}

#blog {
  padding: 5rem 15px;
}

#use-zen {
  background-color: #041435;
  background-image: linear-gradient(180deg, rgba(4, 20, 53, .5), rgba(4, 20, 53, .5)), url('../img/use-zen.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  padding-top: 150px;
  padding-bottom: 150px;
  .container-fluid {
    max-width: 1800px;
  }
  .section-title {
    color: white;
    font-size: 60px;
    line-height: 70px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 12px;
    margin-bottom: 120px;
  }
  .lined-subtext {
    color: white;
    &:before,
    &:after {
      background-color: white;
    }
  }
  div[class^='col-'] {
    padding: 15px;
  }
  .card-body {
    padding: 3rem 1.875rem;
    img {
      max-width: 60px;
      max-height: 60px;
    }
    h3 {
      color: #1b2f59;
      font-size: 28px;
      line-height: 32px;
      letter-spacing: 0;
      font-weight: 100;
      text-transform: none;
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
  .card-footer {
    display: flex;
    background-color: #eee;
    padding: 0;
    a {
      flex-grow: 1;
      color: #1b2f59;
      text-transform: uppercase;
      display: block;
      padding: 1.09375rem 1.875rem;
      &:hover,
      &:focus {
        background-color: $green;
      }
      .right-arrow {
        width: 10px;
        transform: rotate(-90deg);
        margin-left: 8px;
        margin-top: -3px;
      }
    }
  }
}

.card {
  display: flex;
  height: 100%;
  border-radius: 0;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.card-footer {
  border-radius: 0;
}

#team {
  background-color: #1b2f59;
  padding-top: 120px;
  padding-bottom: 120px;
  .lined-subtext {
    color: $green;
    &:before,
    &:after {
      background-color: $green;
    }
  }
  .core-team-row {
    padding-bottom: 15px;
  }
  div[class^='col-'] {
    padding: 15px;
  }
  .card-body {
    padding: 2.4rem 1.875rem;
  }
  .headshot {
    width: 150px;
    height: 150px;
    border-radius: 5rem;
    @include bgimagecover(white, '', center);
    @include grayscale_element(100%);
  }
  h3 {
    color: #1b2f59;
    font-size: 28px;
    line-height: 32px;
    font-weight: 200;
    letter-spacing: 0;
    text-transform: none;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  h4 {
    text-transform: none;
    color: #1b2f59;
    font-size: 16px;
    font-weight: 700;
  }
  .social-icons {
    a {
      display: inline-block;
      height: 50px;
      width: 50px;
      line-height: 50px;
      font-size: 30px;
      color: white;
      background-color: $green;
      border-radius: 5rem;
      margin: 6px 6px 0;
      &:hover,
      &:focus {
        background-color: #36c083;
      }
    }
  }
  .global-team {
    padding-top: 109px;
    background-color: #69ffbd;
    .lined-subtext {
      color: #185e94;
      &:before,
      &:after {
        background-color: #185e94;
      }
    }
    .team-map {
      display: block;
      margin: 0 auto;
    }
  }
  .team-rows {
    padding-top: 4rem;
    .headshot {
      height: 100px;
      width: 100px;
    }
    .card-body {
      h3 {
        margin-bottom: 8px;
        font-size: 18px;
      }
    }
  }
}

.site-footer {
  color: white;
  background-color: #000;
  padding: 4rem 0;
  a {
    color: white;
  }
  .social-media-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    border-radius: 5rem;
    &:hover {
      background-color: #1b2f59;
    }
    img {
      max-height: 35px;
      max-width: 35px;
    }
  }
}

@media (max-width: 575px) {
  .site-header {
    border: 0;
    .navbar {
      padding: 0;
      background-color: black;
      border: 0;
    }
    .navbar-brand {
      max-width: 160px;
      margin: 0 auto;
      padding-left: 0;
    }
    .hamburger {
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
      border: 0;
      padding-top: 14px;
      margin-top: 3px;
    }
    .hamburger-box {
      width: 30px;
    }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      height: 2px;
      width: 30px;
      background-color: $green;
    }
    .navbar-collapse {
      background-color: black;
      .nav-item {
        margin: 10px 0;
        font-size: 16px;
      }
      #chooseLanguage {
        font-size: 16px;
        padding-left: 40px;
        padding-right: 40px;
        margin-left: 0;
        margin-bottom: 30px;
      }
    }
  }
  .jumbotron {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    #bgvid {
      background-position: 15%;
      video {
        display: none;
      }
    }
    .content-block {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      align-content: center;
    }
    h1 {
      font-size: 46px;
      line-height: 1;
      margin-bottom: 0;
    }
    h2 {
      font-size: 18px;
      max-width: 250px;
      margin-left: auto;
      margin-right: auto;
    }
    h3 {
      font-size: 16px;
      letter-spacing: 1px;
    }
    .lead {
      font-size: 1rem;
    }
    .featured-announcement {
      padding: 15px 15px 5px;
      .btn-lg {
        padding: 10px 20px;
      }
    }
    .social-sidebar {
      flex-direction: row;
      justify-content: center;
      position: relative;
      right: auto;
      width: 100%;
    }
  }
  #about {
    .body-link {
      padding: 25px 0 20px;
      .feature-icon {
        max-width: 50px;
      }
      h3 {
        font-size: 12px;
        letter-spacing: 0px;
        margin-bottom: 8px;
      }
      .down-arrow {
        width: 12px;
        opacity: 1;
      }
    }
    // .col {
    //   // display: block;
    //   // flex-grow: 0;
    //   flex-basis: auto;
    //   position: relative;
    //   width: 50%;
    //   padding: 10px;
    // }
  }

  #roadmap {
    .entry-text {
      h3 {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 767px) {
  #use-zen {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 991px) {

}

@media (max-width: 1199px) {

}
