.language-sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 300px;
  top: 0;
  right: 0;
  z-index: 101;
  background-color: #69ffbd;
  transform: translateX(300px);
  @include transition(all 0.3s ease-in-out);
  &.show {
    transform: translateX(0);
    @include transition(all 0.3s ease-in-out);
  }
  ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
  }
  li {
    a {
      display: block;
      color: #1b2f59;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 4px;
      text-transform: uppercase;
      text-align: center;
      padding: 20px 0;
      &:hover,
      &:focus {
        background-color: hsla(0, 0%, 100%, .2);
        text-decoration: none;
      }
    }
  }
  #languageClose {
    display: block;
    width: 70px;
    height: 70px;
    margin-left: auto;
    padding-top: 35px;
    padding-right: 16px;
    padding-left: 16px;
    float: none;
    clear: none;
    background-color: transparent;
  }
  .x {
    position: static;
    top: 0px;
    right: 0px;
    display: inline-block;
    width: 41px;
    height: 1px;
    margin-left: -37px;
    float: right;
    background-color: #000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
  }
  .x2 {
    margin-left: 0px;
    float: right;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    text-align: left;
  }
}
