#philosophy,
#technology {
  .interior-header {
    position: relative;
    flex-direction: column;
    overflow: hidden;
    h1 {
      text-transform: uppercase;
    }
    #bgvid {
      height: 100%;
      width: 100%;
      video {
        position: absolute;
      }
    }
    .page-title {
      position: absolute;
    }
  }
}

#philosophy {
  .interior-header {
    @include bgimagecover($darkteal, '../vid/philosophy.jpg', center);
  }
}
#technology {
  .interior-header {
    @include bgimagecover($darkteal, '../vid/technology.jpg', center);
  }
}

.interior-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  min-height: 300px;
  max-height: 600px;
  background-color: #041435;
  background-image: linear-gradient(180deg, rgba(4, 20, 53, .8), rgba(4, 20, 53, .8)), url("../img/iohk-bkg.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  img.logo {
    max-width: 450px;
    margin-bottom: 1rem;
  }
  h1 {
    color: white;
    font-size: 72px;
    text-align: center;
    letter-spacing: 0;
    text-transform: none;
    max-width: 60vw;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  h2 {
    color: white;
    font-size: 2rem;
  }
  h3 {
    color: white;
    font-size: 1.4rem;
  }

  #bgvid {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // min-width: 100%;
    // min-height: 100%;
    // width: auto;
    // height: auto;
    // transform: translateX(-50%) translateY(-50%);

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(4, 20, 53, 0.7);
  }
}

.interior-subheader {
  text-align: center;
  padding-top: 4rem;
  h1 {
    color: white;
    text-transform: none;
    letter-spacing: 0;
    font-size: 5rem;
  }
}

.subsection {
  margin-bottom: 5rem;
  .subsection-title {
    max-width: 60%;
    color: $darkblue;
    font-size: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding-bottom: .6rem;
    border-bottom: 1px solid $darkblue;
  }
}

section.content {
  position: relative;
  padding: 7rem 0;
  &.intro {
    padding-top: 12rem;
    padding-bottom: 3rem;
    h2 {
      margin-bottom: 3rem;
    }
    p {
      font-size: 1.4rem;
      font-weight: 300;
    }
  }
  ul {
    li {
      font-size: 1.4rem !important;
      font-weight: 300;
      padding: .8rem 0 !important;
    }
  }
  .intro-circle-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 250px;
    width: 250px;
    top: -90px;
    left: 50%;
    margin-left: -125px;
    background-color: white;
    border-radius: 12rem;
    img {
      max-width: 150px;
      max-height: 150px;
    }
  }
  h2:not(.lined-subtext) {
    color: $darkblue;
    font-size: 42px;
    line-height: 56px;
    font-weight: 100;
    letter-spacing: 0;
    text-transform: none;
  }
}

.zen-iohk {
  display: block;
  width: 417px;
  margin: 0 auto;
}

#infographic {
  color: white;
  background-color: #1b2f59;
  background-image: linear-gradient(180deg, rgba(4, 20, 53, .8), rgba(4, 20, 53, .8)), url("../img/iohk-bkg.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  h2 {
    color: white;
    font-size: 72px;
    line-height: 80px;
    font-weight: 100;
    text-align: center;
    text-transform: none;
    letter-spacing: 0;
  }
  .lead {
    font-size: 28px;
    line-height: 32px;
    font-weight: 100;
  }
  .iohk-infographic {
    display: block;
    margin: 0 auto;
    &.mobile {
      display: none;
    }
    &.desktop {
      display: block;
    }
  }
}

#scalability {
  background-color: #fff;
  background-image: url("../img/crazy-lines.png"), linear-gradient(180deg, #f8f8f8, #fff);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: scroll, scroll;
  text-align: center;
  .scalability-logo {
    width: 100px;
    margin-bottom: 2rem;
  }
  h2 {
    color: #185e94;
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 9px;
  }
  ul {
    li {
      color: #1b2f59;
      font-size: 28px !important;
      font-weight: 100;
      padding: 1rem 0 !important;
    }
  }
}

#iohk {
  #use-zen {
    background-image: linear-gradient(180deg, #1b2f59, #1b2f59);
  }
}

#zencash {
  .interior-header {
    background-image: linear-gradient(180deg, rgba(4, 20, 53, .6), rgba(4, 20, 53, .6)), url('../img/bkg/zencash.jpg');
    background-position: 0px 0px, 50% 50%;
  }
}
#zenchat {
  .interior-header {
    background-image: linear-gradient(180deg, rgba(4, 20, 53, .7), rgba(4, 20, 53, .7)), url('../img/bkg/zenchat.jpg');
    background-size: auto, cover;
  }
}
#zenpub {
  .interior-header {
    background-image: linear-gradient(180deg, rgba(4, 20, 53, .7), rgba(4, 20, 53, .7)), url('../img/bkg/zenpub.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
  }
}
#zenhide {
  .interior-header {
    background-image: linear-gradient(180deg, rgba(4, 20, 53, .2), rgba(4, 20, 53, .2)), url('../img/bkg/zenhide.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
  }
}

#wallets {
  .about-zen-interior {
    padding: 15px 3rem;
  }
  .col-lg-8 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {
  .interior-header {
    height: auto;
    min-height: 0;
    max-height: none;
    h1 {
      font-size: 44px;
      max-width: 80%;
      margin-top: 8rem;
      margin-bottom: 4rem;
    }
  }
  section.content {
    h2:not(.lined-subtext) {
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 0;
    }
  }
  #infographic {
    h2 {
      font-size: 36px;
      line-height: 1.2;
      margin-bottom: 1rem;
    }
    .lead {
      font-size: 22px;
      line-height: 1.4;
    }
    .iohk-infographic {
      max-width: 500px;
      &.mobile {
        display: block;
      }
      &.desktop {
        display: none;
      }
    }
  }
  #scalability {
    h2 {
      margin-bottom: 2rem;
    }
    ul {
      li {
        font-size: 18px !important;
        padding: 0.4rem 0 !important;
      }
    }
  }
}

@media (max-width: 767px) {
  .btn-lg {
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
  }
  .interior-header {
    h1 {
      font-size: 26px;
      margin-top: 6rem;
      margin-bottom: 2rem;
    }
  }
  section.content {
    padding: 4rem 0 3rem;
    h2:not(.lined-subtext) {
      font-size: 22px;
      line-height: 1.2;
    }
  }
  .zen-iohk {
    max-width: 60%;
    margin-bottom: 3rem;
  }
  #infographic {
    h2 {
      font-size: 26px;
      line-height: 1.4;
    }
    .lead {
      font-size: 18px;
      line-height: 1.4;
    }
  }
}

@media (max-width: 575px) {
  #infographic {
    .iohk-infographic {
      max-width: 100%;
    }
  }
}
