.lng-zh {
  h3 {
    &.subsection-title {
      font-size: 2.4rem;
      font-weight: 700;
    }
  }
  section {
    &.content {
      h2 {
        &:not(.lined-subtext) {
          font-size: 2rem;
        }
      }
    }
  }
  .btn {
    font-size: 1rem;
  }
  .btn-lg {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
  .body-link {
    h3 {
      font-size: 2rem;
    }
  }
  #infographic {
    h2 {
      font-size: 4rem;
    }
  }
  @media (max-width: 575px) {
    #about {
      .body-link {
        h3 {
          font-size: 1.2rem;
        }
      }
    }
  }
}
