.site-header {
    z-index: 100;
    position: fixed;
    width: 100%;
    -webkit-backface-visibility: hidden;
    .navbar {
      padding: .5rem 30px;
    }
    .navbar-brand {
      font-size: 1rem;
      line-height: 1;
    }
    .navbar-brand,
    .nav-link {
      color: white;
      &:hover,
      &:focus,
      &:active {
          color: $light-blue;
      }
    }
    // &.is-active {
    //     background-color: rgba(#797572, 0.99);
    // }
}

.site-header {
  background-color: transparent;
  box-shadow: none;
  @include transition(all 0.3s ease-in-out);
  &.headroom--not-top {
    background-color: darken($orange, 5%);
    box-shadow: 0 1px 12px 1px rgba(0,0,0,0.2);
    @include transition(all 0.3s ease-in-out);
  }
}


body:not(#homepage) .site-header {
    background-color: rgba(#797572, 0.98);
}

.navbar-toggler {
    width: 50px;
    height: 40px;
    padding: 8px 10px;
    margin-top: 2px;
    position: absolute;
    top: 0;
    right: 15px;
}

.hamburger {
    margin-right: -10px;
}

.hamburger-box {
    width: 30px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: white;
}

.dropdown-menu {
  left: auto;
  right: 0;
  background-color: darken($orange, 5%);
  border: none;
  border-radius: 0;
  padding: 12px 0;
  margin-top: 8px;
  display: block;
  visibility: hidden;
  opacity: 0;
  @include transition(all 0.3s ease-in-out);
}

.dropdown-item {
  color: white;
  padding: 3px 15px;
}

.show>.dropdown-menu {
  visibility: visible;
  opacity: 1;
  @include transition(all 0.3s ease-in-out);
}

#accordion {
  width: 100%;
  max-width: 1000px;
  margin: 1rem auto 0;
  .card {
    color: $text-color;
    border: none;
    border-radius: 0;
    box-shadow: 0 1px 12px 1px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    background-color: rgba(white, 0.9);
    &-header {
      border: none;
      border-radius: 0;
      background-color: rgba($gray, 0.8);
      padding: 0;
      h5 {
        font-weight: 400;
      }
      a {
        color: $teal;
        display: block;
        padding: .75rem 1.25rem;
        &:not(.collapsed) {
          color: white;
          background-color: darken($orange, 5%);
        }
        &:hover,
        &:focus,
        &:active {
          color: white;
          text-decoration: none;
          background-color: darken($orange, 5%);
        }
      }
    }
  }
}

.table {
  thead {
    th {
      color: white;
      font-weight: 400;
      background-color: $teal;
      border: none;
    }
  }
  tr:last-of-type {
    color: white;
    background-color: $purple;
  }
  .info {
    background-color: rgba($teal, 0.2);
  }
  .active {
    background-color: rgba($purple, 0.2);
  }
}
