<ul class="mining-pools-list list-unstyled ml-0 mb-0">
  <li><a href="https://zenmine.pro/">ZenMine Pro</a></li>
  <li><a href="https://pool.cryptobroker.io/zen/">Cryptobroker</a></li>
  <li><a href="https://minez.zone/">MineZ Zone</a></li>
  <li><a href="http://www.luckpool.org/">Luckpool</a></li>
  <li><a href="http://zen.miningspeed.com/">Miningspeed</a></li>
  <li><a href="https://www.sgpool.net/">SG Pool</a></li>
  <li><a href="http://www.zpool.ca/">Zpool</a></li>
  <li><a href="http://zen.pool.sexy">ZenCash Pool Sexy</a></li>
  <li><a href="https://zenpool-eu.hebusio.com">HebUsio Pool</a></li>
  <li><a href="https://zen.suprnova.cc/">SuprNova</a></li>
  <li><a href="http://zencoin.su">Clover mining SOLO ZEN pool</a></li>
  <li><a href="http://zen.owlminingclub.com/">Owl Miners' Club</a></li>
  <li><a href="https://zhash.pro/">ZHASH.PRO</a></li>
  <li><a href="https://pool.mining.sg/">Mining.SG</a></li>
  <li><a href="http://zen.nibirupool.com/">Nibiru Pool</a></li>
  <li><a href="http://zen.blocksuckernation.com/">Blocksucker Nation</a></li>
  <li><a href="https://zenpool.org/">ZenPool.org</a></li>
  <li><a href="http://zen.catspool.org/">Catspool</a></li>
  <li><a href="http://equihash.hodlpool.com">HODLPool</a></li>
  <li><a href="https://2miners.com/">2miners</a></li>
</ul>
