<ul class="mining-pools-list list-unstyled ml-0 mb-0">
  <li><a href="https://zenmine.pro/">ZenMine Pro</a></li>
  <li><a href="https://pool.cryptobroker.io/zen/">Cryptobroker</a></li>
  <li><a href="https://minez.zone/">MineZ Zone</a></li>
  <li><a href="http://www.luckpool.org/">Luckpool</a></li>
  <li><a href="http://zen.miningspeed.com/">Miningspeed</a></li>
  <li><a href="http://zencash.cloud">ZenCash Cloud</a></li>
  <li><a href="http://miningpool.io/">Zen Mining Pool IO</a></li>
  <li><a href="https://zen.sgpool.net/">SG Pool</a></li>
  <li><a href="http://zcrypt.live">Zcrypt</a></li>
  <li><a href="http://mineix.ca/">MineIX</a></li>
  <li><a href="http://www.zpool.ca/">Zpool</a></li>
  <li><a href="http://zen.pool.sexy">ZenCash Pool Sexy</a></li>
  <li><a href="https://zenpool-eu.hebusio.com">HebUsio Pool</a></li>
  <li><a href="https://zen.minerpool.org">MinerPool</a></li>
  <li><a href="http://zen.smartmining.cloud/">Smart Mining Cloud</a></li>
  <li><a href="http://zpools.de/">Zpools.de</a></li>
  <li><a href="https://zen.suprnova.cc/">SuprNova</a></li>
</ul>
